Node red/flows.json
[
    {
        "id": "772b4e64.18e6e",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dc7f38ca.1f1628",
        "type": "tab",
        "label": "status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "af13bad2.757ad8",
        "type": "tab",
        "label": "settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cc53778b.362758",
        "type": "tab",
        "label": "indication",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e6bd1a7b.e18128",
        "type": "tab",
        "label": "tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93d0b05b.5a7bb",
        "type": "tab",
        "label": "configuration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6f0a3208.8a822c",
        "type": "tab",
        "label": "LEDs",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e807a58d.090008",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "14cdbb76.5693a5",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "89368e3e.e8a0b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Chair Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 35,
                "sy": 35,
                "gx": 6,
                "gy": 6,
                "cx": 112,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7cfe000b.34beb",
        "type": "ui_link",
        "name": "Github repository",
        "link": "https://github.com/Macka323/chair",
        "icon": "fa-github-square",
        "target": "newtab",
        "order": 4
    },
    {
        "id": "2e1a6e50.8afa02",
        "type": "ui_link",
        "name": "Documentation",
        "link": "https://github.com/Macka323/chair/wiki",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 5
    },
    {
        "id": "8afe0c95.ed1e1",
        "type": "ui_link",
        "z": "772b4e64.18e6e",
        "name": "Bug report",
        "link": "https://github.com/Macka323/chair/issues",
        "icon": "bug_report",
        "target": "newtab",
        "order": 6
    },
    {
        "id": "9ae42a01.233038",
        "type": "ui_link",
        "name": "Link 7",
        "link": "https://pinout.xyz/",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 7
    },
    {
        "id": "bb56339e.2abaa",
        "type": "ui_tab",
        "name": "Chair",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a7b5679.e3e9e8",
        "type": "ui_tab",
        "name": "Stats",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "666ce8f4.6780c8",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "settings",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a4a5657b.ad6998",
        "type": "ui_group",
        "name": "dashboard",
        "tab": "bb56339e.2abaa",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": "dashboardBackground"
    },
    {
        "id": "8a312ad2.ae3c18",
        "type": "ui_group",
        "name": "",
        "tab": "9a7b5679.e3e9e8",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "8d305fa8.31707",
        "type": "ui_group",
        "name": "Visual",
        "tab": "666ce8f4.6780c8",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "49deb1f5.12e01",
        "type": "ui_group",
        "name": "status",
        "tab": "bb56339e.2abaa",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "7db0b691.b8aa88",
        "type": "ui_group",
        "name": "spacer",
        "tab": "bb56339e.2abaa",
        "order": 2,
        "disp": false,
        "width": "1",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a61f5046.b796f",
        "type": "ui_group",
        "name": "General",
        "tab": "666ce8f4.6780c8",
        "order": 2,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbbc3c43.e1dff",
        "type": "ui_group",
        "name": "Audio",
        "tab": "666ce8f4.6780c8",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7534c655.1c8b38",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "444dec1e.47f464",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5c2dfcfcf175dd0",
        "type": "ui_spacer",
        "z": "dc7f38ca.1f1628",
        "name": "spacer",
        "group": "8a312ad2.ae3c18",
        "order": 3,
        "width": 9,
        "height": 1
    },
    {
        "id": "db737c7c73dc07d6",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "37839329594a3062",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "6cad4d3405eed5ef",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "a69f2613d00efe9a",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "f0858a9e5408386a",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "70ab19c0fe540833",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "cb1dfe0c7d0479e7",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "1010f10bdaa5795f",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "832a45bb522c43c8",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "b80e77944b91a26e",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "05a89555ecb08542",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "8d62935ca06eae5f",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "a40f0cc61053032d",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 23,
        "width": 4,
        "height": 1
    },
    {
        "id": "ca1982f47c2a2566",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 24,
        "width": 4,
        "height": 1
    },
    {
        "id": "5018cc3dbb1be321",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "e6bbf9be0719c6a7",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "41c652f22fc3750b",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 28,
        "width": 4,
        "height": 1
    },
    {
        "id": "ae341d902e8bd595",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "a58310ac0bab999e",
        "type": "ui_spacer",
        "z": "772b4e64.18e6e",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 32,
        "width": "4",
        "height": 1,
        "className": ""
    },
    {
        "id": "e33a617efc1a8cdb",
        "type": "ui_spacer",
        "z": "af13bad2.757ad8",
        "name": "spacer",
        "group": "7db0b691.b8aa88",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d8ea40a9.7243d8",
        "type": "ui_group",
        "name": "Default",
        "tab": "909f2fda.b7e17",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "909f2fda.b7e17",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "793c0106.f5d84",
        "type": "serial in",
        "z": "772b4e64.18e6e",
        "name": "",
        "serial": "e807a58d.090008",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "77e2e8.387e5d18",
                "5d1b33588ba84112"
            ]
        ]
    },
    {
        "id": "2bbb4ab1.8c3416",
        "type": "switch",
        "z": "772b4e64.18e6e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "a.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "b.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "c.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "d.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "e.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "f.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "g.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "h.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "i.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "j.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "87011300.85e92"
            ],
            [
                "35a0625f.6a201e"
            ],
            [
                "56d2f1c9.90e0a"
            ],
            [
                "f5b20b2d.8ba018"
            ],
            [
                "c02780c6.ce2fd"
            ],
            [
                "d43167c3.75bc38"
            ],
            [
                "3c781251.a186be"
            ],
            [
                "cceb6449.77e078"
            ],
            [
                "ac19e0b9.69c3d"
            ],
            []
        ],
        "outputLabels": [
            "sensor 1,a",
            "sensor 2,b",
            "sensor 3,c",
            "sensor 4,d",
            "sensor 5,e",
            "sensor 6,f",
            "sensor 7,g",
            "sensor 8,h",
            "sensor 9,i",
            ""
        ]
    },
    {
        "id": "76d77b12.d85874",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1960,
        "y": 80,
        "wires": [
            [
                "e4c888ef.9ac1c8"
            ]
        ]
    },
    {
        "id": "159e6cf.0807693",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1960,
        "y": 120,
        "wires": [
            [
                "6914a374.3ac90c"
            ]
        ]
    },
    {
        "id": "e4c888ef.9ac1c8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c98d586a.69a248",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_1}},{{flow.g_value_1}},0)",
        "output": "str",
        "x": 2380,
        "y": 120,
        "wires": [
            [
                "28efe1d.f11891e"
            ]
        ]
    },
    {
        "id": "6914a374.3ac90c",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 120,
        "wires": [
            [
                "c98d586a.69a248"
            ]
        ]
    },
    {
        "id": "28efe1d.f11891e",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 120,
        "wires": [
            [
                "17aca1c53b869e6f"
            ]
        ]
    },
    {
        "id": "a6c9cc94.8468d",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1960,
        "y": 200,
        "wires": [
            [
                "efa235ac.d18c48"
            ]
        ]
    },
    {
        "id": "9f0b72ba.2ba9c",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1960,
        "y": 240,
        "wires": [
            [
                "3b08bdca.7f1142"
            ]
        ]
    },
    {
        "id": "efa235ac.d18c48",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3077ea82.8cb406",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_2}},{{flow.g_value_2}},0)",
        "output": "str",
        "x": 2380,
        "y": 240,
        "wires": [
            [
                "fa2fa3e2.a7b29"
            ]
        ]
    },
    {
        "id": "3b08bdca.7f1142",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 240,
        "wires": [
            [
                "3077ea82.8cb406"
            ]
        ]
    },
    {
        "id": "fa2fa3e2.a7b29",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 240,
        "wires": [
            [
                "6d7c213cb0335c2c"
            ]
        ]
    },
    {
        "id": "76b6ad35.3577c4",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1960,
        "y": 320,
        "wires": [
            [
                "6c0be974.7191b8"
            ]
        ]
    },
    {
        "id": "a353e04f.ffc78",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1960,
        "y": 360,
        "wires": [
            [
                "5b5b31e6.72a1a"
            ]
        ]
    },
    {
        "id": "6c0be974.7191b8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c5b67216.1682c",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_3}},{{flow.g_value_3}},0)",
        "output": "str",
        "x": 2380,
        "y": 360,
        "wires": [
            [
                "b9d1ec4e.bfefc"
            ]
        ]
    },
    {
        "id": "5b5b31e6.72a1a",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 360,
        "wires": [
            [
                "c5b67216.1682c"
            ]
        ]
    },
    {
        "id": "b9d1ec4e.bfefc",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 360,
        "wires": [
            [
                "131ae227fb042b68"
            ]
        ]
    },
    {
        "id": "d7bce8c7.8a05b8",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1960,
        "y": 440,
        "wires": [
            [
                "88aae6e.6e0d218"
            ]
        ]
    },
    {
        "id": "e98d1267.eec3e",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1960,
        "y": 480,
        "wires": [
            [
                "6d415d02.7ff9a4"
            ]
        ]
    },
    {
        "id": "88aae6e.6e0d218",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e53d1808.906be8",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_4}},{{flow.g_value_4}},0)",
        "output": "str",
        "x": 2380,
        "y": 480,
        "wires": [
            [
                "d5a3e8bb.ea2f38"
            ]
        ]
    },
    {
        "id": "6d415d02.7ff9a4",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 480,
        "wires": [
            [
                "e53d1808.906be8"
            ]
        ]
    },
    {
        "id": "d5a3e8bb.ea2f38",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 480,
        "wires": [
            [
                "0246f359163fb44e"
            ]
        ]
    },
    {
        "id": "b91830c3.4d3e8",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1960,
        "y": 560,
        "wires": [
            [
                "f784e610.4640e8"
            ]
        ]
    },
    {
        "id": "46824be5.fefa94",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1960,
        "y": 600,
        "wires": [
            [
                "6243f5a2.57960c"
            ]
        ]
    },
    {
        "id": "f784e610.4640e8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_5",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "451ba7e8.f58998",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_5}},{{flow.g_value_5}},0)",
        "output": "str",
        "x": 2380,
        "y": 600,
        "wires": [
            [
                "f7e33fa1.7f197"
            ]
        ]
    },
    {
        "id": "6243f5a2.57960c",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_5",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 600,
        "wires": [
            [
                "451ba7e8.f58998"
            ]
        ]
    },
    {
        "id": "f7e33fa1.7f197",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 600,
        "wires": [
            [
                "96ec1bde57d2e2a6"
            ]
        ]
    },
    {
        "id": "be6008a8.0a3da8",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1960,
        "y": 680,
        "wires": [
            [
                "337068e1.507238"
            ]
        ]
    },
    {
        "id": "fd51b0b2.b0789",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1960,
        "y": 720,
        "wires": [
            [
                "62724294.56a1cc"
            ]
        ]
    },
    {
        "id": "337068e1.507238",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_6",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "62724294.56a1cc",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_6",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 720,
        "wires": [
            [
                "18deb5ae.e5370a"
            ]
        ]
    },
    {
        "id": "a3f5ee2.1ce9c1",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 720,
        "wires": [
            [
                "3efbf2f48782bb1c"
            ]
        ]
    },
    {
        "id": "f57dd729.469d78",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1960,
        "y": 800,
        "wires": [
            [
                "1f1ea6ad.ef97f9"
            ]
        ]
    },
    {
        "id": "bce40e35.f46dc",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1960,
        "y": 840,
        "wires": [
            [
                "1085df8.3cf8e21"
            ]
        ]
    },
    {
        "id": "1f1ea6ad.ef97f9",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_7",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e589868d.017648",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_7}},{{flow.g_value_7}},0)",
        "output": "str",
        "x": 2380,
        "y": 840,
        "wires": [
            [
                "6ae7931d.618cac"
            ]
        ]
    },
    {
        "id": "1085df8.3cf8e21",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_7",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 840,
        "wires": [
            [
                "e589868d.017648"
            ]
        ]
    },
    {
        "id": "6ae7931d.618cac",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 840,
        "wires": [
            [
                "fb307592948fc9b6"
            ]
        ]
    },
    {
        "id": "a4010501.7d6b08",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1960,
        "y": 920,
        "wires": [
            [
                "2867b559.270c0a"
            ]
        ]
    },
    {
        "id": "20414b95.4bd244",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1960,
        "y": 960,
        "wires": [
            [
                "a5c60e0d.cc818"
            ]
        ]
    },
    {
        "id": "2867b559.270c0a",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_8",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "8b18c906.f14ed8",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_8}},{{flow.g_value_8}},0)",
        "output": "str",
        "x": 2380,
        "y": 960,
        "wires": [
            [
                "44e792d5.2d9d9c"
            ]
        ]
    },
    {
        "id": "a5c60e0d.cc818",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_8",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 960,
        "wires": [
            [
                "8b18c906.f14ed8"
            ]
        ]
    },
    {
        "id": "44e792d5.2d9d9c",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 960,
        "wires": [
            [
                "9d67c39c05457e0f"
            ]
        ]
    },
    {
        "id": "3264844a.8084dc",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1960,
        "y": 1040,
        "wires": [
            [
                "da188207.1d9b2"
            ]
        ]
    },
    {
        "id": "eb07b316.87d4a",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1960,
        "y": 1080,
        "wires": [
            [
                "3661c9cf.c22c96"
            ]
        ]
    },
    {
        "id": "da188207.1d9b2",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_9",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "b056475.29964b8",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_9}},{{flow.g_value_9}},0)",
        "output": "str",
        "x": 2380,
        "y": 1080,
        "wires": [
            [
                "f47e0192.40e72"
            ]
        ]
    },
    {
        "id": "3661c9cf.c22c96",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_9",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 1080,
        "wires": [
            [
                "b056475.29964b8"
            ]
        ]
    },
    {
        "id": "f47e0192.40e72",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 1080,
        "wires": [
            [
                "726f68ccb9ecf067"
            ]
        ]
    },
    {
        "id": "18deb5ae.e5370a",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_6}},{{flow.g_value_6}},0)",
        "output": "str",
        "x": 2380,
        "y": 720,
        "wires": [
            [
                "a3f5ee2.1ce9c1"
            ]
        ]
    },
    {
        "id": "1169d83d.4d97a8",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 2",
        "info": "",
        "x": 1960,
        "y": 160,
        "wires": []
    },
    {
        "id": "65c26d66.785f54",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 3",
        "info": "",
        "x": 1960,
        "y": 280,
        "wires": []
    },
    {
        "id": "30772f28.b343d",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 4",
        "info": "",
        "x": 1960,
        "y": 400,
        "wires": []
    },
    {
        "id": "cc4f6534.27cbd8",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 5",
        "info": "",
        "x": 1960,
        "y": 520,
        "wires": []
    },
    {
        "id": "c2b8867d.3eabf8",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 6",
        "info": "",
        "x": 1960,
        "y": 640,
        "wires": []
    },
    {
        "id": "2e674a41.f2f536",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 7",
        "info": "",
        "x": 1960,
        "y": 760,
        "wires": []
    },
    {
        "id": "692c990c.7d1a08",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 8",
        "info": "",
        "x": 1960,
        "y": 880,
        "wires": []
    },
    {
        "id": "d7b1f86d.e652d8",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 9",
        "info": "",
        "x": 1960,
        "y": 1000,
        "wires": []
    },
    {
        "id": "780ba7df.cdcab8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "a.",
                "fromt": "str",
                "to": "b.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "c.",
                "fromt": "str",
                "to": "d.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "e.",
                "fromt": "str",
                "to": "f.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "h.",
                "fromt": "str",
                "to": "i.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 480,
        "wires": [
            [
                "2bbb4ab1.8c3416"
            ]
        ]
    },
    {
        "id": "ffc9a5b6.777f38",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b.",
                "fromt": "str",
                "to": "a.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "d.",
                "fromt": "str",
                "to": "c.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "f.",
                "fromt": "str",
                "to": "e.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "i.",
                "fromt": "str",
                "to": "h.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 520,
        "wires": [
            [
                "2bbb4ab1.8c3416"
            ]
        ]
    },
    {
        "id": "20089778.b355c8",
        "type": "link in",
        "z": "772b4e64.18e6e",
        "name": "sensors input",
        "links": [
            "2a6a1d2d.cf9e12",
            "3565cedc.7fe742",
            "e270db02.487ef8"
        ],
        "x": 155,
        "y": 620,
        "wires": [
            [
                "c955f148.352cb",
                "dbf643f6.8ba"
            ]
        ]
    },
    {
        "id": "b687f285.31795",
        "type": "link out",
        "z": "772b4e64.18e6e",
        "name": "Serial in",
        "links": [
            "14323014.f36b8",
            "6ab166a8.6a2cb8"
        ],
        "x": 745,
        "y": 420,
        "wires": []
    },
    {
        "id": "35be3bd2.e0a234",
        "type": "link in",
        "z": "772b4e64.18e6e",
        "name": "led indicator",
        "links": [
            "21ad533d.4ddcfc"
        ],
        "x": 195,
        "y": 800,
        "wires": [
            [
                "22cf8ee8.8b2802"
            ]
        ]
    },
    {
        "id": "3dd38ac5.919ba6",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "[s] to [hh:mm:ss]",
        "func": "// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar time = (new Date(msg.payload * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.payload = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 860,
        "wires": [
            [
                "e3407524.0c5c08"
            ]
        ]
    },
    {
        "id": "10ff4972.6bf057",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "[s] to [hh:mm:ss]",
        "func": "// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar time = (new Date(msg.payload * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.payload = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 920,
        "wires": [
            [
                "d7ffc29.680874"
            ]
        ]
    },
    {
        "id": "e3407524.0c5c08",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "23:59:59",
                "fromt": "str",
                "to": "00:00:00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 860,
        "wires": [
            [
                "895ce5fb.28ce78"
            ]
        ]
    },
    {
        "id": "d7ffc29.680874",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "23:59:59",
                "fromt": "str",
                "to": "00:00:00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 920,
        "wires": [
            [
                "7241ddc8.4ff374"
            ]
        ]
    },
    {
        "id": "cf29152d.d0efb8",
        "type": "inject",
        "z": "772b4e64.18e6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timer30",
        "payloadType": "global",
        "x": 280,
        "y": 920,
        "wires": [
            [
                "10ff4972.6bf057"
            ]
        ]
    },
    {
        "id": "de1409db.0be158",
        "type": "inject",
        "z": "772b4e64.18e6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "timer5",
        "payloadType": "global",
        "x": 280,
        "y": 860,
        "wires": [
            [
                "3dd38ac5.919ba6"
            ]
        ]
    },
    {
        "id": "3c94f839.ab6428",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 100,
        "wires": [
            [
                "9ecc7ee4.14322"
            ]
        ]
    },
    {
        "id": "ed216855.3f8ca8",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 220,
        "wires": [
            [
                "7fc2966b.ff5758"
            ]
        ]
    },
    {
        "id": "53ae1d04.e41cf4",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 340,
        "wires": [
            [
                "e8f4bbc6.f85c38"
            ]
        ]
    },
    {
        "id": "6331dbbc.1ab194",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 460,
        "wires": [
            [
                "fd48d6d5.0018d8"
            ]
        ]
    },
    {
        "id": "ea918bb4.321928",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 700,
        "wires": [
            [
                "aac729d2.6b4808"
            ]
        ]
    },
    {
        "id": "8b5bb806.6bfe08",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 580,
        "wires": [
            [
                "be84d956.b2f868"
            ]
        ]
    },
    {
        "id": "43391046.a2ed5",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 820,
        "wires": [
            [
                "b598c544.00e6c8"
            ]
        ]
    },
    {
        "id": "223009d5.835b56",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 1060,
        "wires": [
            [
                "42a8acf4.9b3d74"
            ]
        ]
    },
    {
        "id": "9ae9f9f8.26b7d8",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1600,
        "y": 940,
        "wires": [
            [
                "8ede8723.73e9d8"
            ]
        ]
    },
    {
        "id": "87011300.85e92",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "a.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 100,
        "wires": [
            [
                "3c94f839.ab6428"
            ]
        ]
    },
    {
        "id": "35a0625f.6a201e",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 220,
        "wires": [
            [
                "ed216855.3f8ca8"
            ]
        ]
    },
    {
        "id": "56d2f1c9.90e0a",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "c.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 340,
        "wires": [
            [
                "53ae1d04.e41cf4"
            ]
        ]
    },
    {
        "id": "f5b20b2d.8ba018",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "d.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 460,
        "wires": [
            [
                "6331dbbc.1ab194"
            ]
        ]
    },
    {
        "id": "c02780c6.ce2fd",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 5",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "e.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 580,
        "wires": [
            [
                "8b5bb806.6bfe08"
            ]
        ]
    },
    {
        "id": "d43167c3.75bc38",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 6",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "f.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 700,
        "wires": [
            [
                "ea918bb4.321928"
            ]
        ]
    },
    {
        "id": "3c781251.a186be",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 7",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "g.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 820,
        "wires": [
            [
                "43391046.a2ed5"
            ]
        ]
    },
    {
        "id": "cceb6449.77e078",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 8",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "h.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 940,
        "wires": [
            [
                "9ae9f9f8.26b7d8"
            ]
        ]
    },
    {
        "id": "ac19e0b9.69c3d",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 9",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "i.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1060,
        "wires": [
            [
                "223009d5.835b56"
            ]
        ]
    },
    {
        "id": "9ecc7ee4.14322",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 100,
        "wires": [
            [
                "76d77b12.d85874",
                "159e6cf.0807693"
            ]
        ]
    },
    {
        "id": "7fc2966b.ff5758",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 220,
        "wires": [
            [
                "a6c9cc94.8468d",
                "9f0b72ba.2ba9c"
            ]
        ]
    },
    {
        "id": "e8f4bbc6.f85c38",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 340,
        "wires": [
            [
                "76b6ad35.3577c4",
                "a353e04f.ffc78"
            ]
        ]
    },
    {
        "id": "fd48d6d5.0018d8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 460,
        "wires": [
            [
                "d7bce8c7.8a05b8",
                "e98d1267.eec3e"
            ]
        ]
    },
    {
        "id": "be84d956.b2f868",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 580,
        "wires": [
            [
                "b91830c3.4d3e8",
                "46824be5.fefa94"
            ]
        ]
    },
    {
        "id": "aac729d2.6b4808",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_6",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 700,
        "wires": [
            [
                "be6008a8.0a3da8",
                "fd51b0b2.b0789"
            ]
        ]
    },
    {
        "id": "b598c544.00e6c8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_7",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 820,
        "wires": [
            [
                "f57dd729.469d78",
                "bce40e35.f46dc"
            ]
        ]
    },
    {
        "id": "8ede8723.73e9d8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_8",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 940,
        "wires": [
            [
                "a4010501.7d6b08",
                "20414b95.4bd244"
            ]
        ]
    },
    {
        "id": "42a8acf4.9b3d74",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_9",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 1060,
        "wires": [
            [
                "3264844a.8084dc",
                "eb07b316.87d4a"
            ]
        ]
    },
    {
        "id": "508fcfc7.ccf2",
        "type": "inject",
        "z": "772b4e64.18e6e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "c324f456.22ff68"
            ]
        ]
    },
    {
        "id": "77e2e8.387e5d18",
        "type": "delay",
        "z": "772b4e64.18e6e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "30",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 540,
        "wires": [
            [
                "c324f456.22ff68"
            ]
        ]
    },
    {
        "id": "c955f148.352cb",
        "type": "gate",
        "z": "772b4e64.18e6e",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "2bbb4ab1.8c3416",
                "b687f285.31795"
            ]
        ]
    },
    {
        "id": "dbf643f6.8ba",
        "type": "gate",
        "z": "772b4e64.18e6e",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "780ba7df.cdcab8",
                "ffc9a5b6.777f38"
            ]
        ]
    },
    {
        "id": "c324f456.22ff68",
        "type": "gate",
        "z": "772b4e64.18e6e",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "c955f148.352cb",
                "dbf643f6.8ba"
            ]
        ]
    },
    {
        "id": "22cf8ee8.8b2802",
        "type": "ui_led",
        "z": "772b4e64.18e6e",
        "order": 3,
        "group": "49deb1f5.12e01",
        "width": 0,
        "height": 0,
        "label": "Indicator",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "3",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "5",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "4",
                "valueType": "num"
            },
            {
                "color": "#0000ff",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 400,
        "y": 800,
        "wires": []
    },
    {
        "id": "5bd13785.e19178",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2950,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f2348297.312d5",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "2",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2950,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "dddbfdf.a0487",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "3",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2950,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d389f6c.a7b4808",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 15,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "4",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2950,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1a670f20.74b8d1",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 20,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "5",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2950,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "32a2c8b6.ad1ef8",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 21,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "6",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2950,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "4e76324b.e51c5c",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 26,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "7",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2950,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "525a6967.a4b008",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 30,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "8",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2950,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "7f66877b.72f598",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 31,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "9",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2950,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "895ce5fb.28ce78",
        "type": "ui_text",
        "z": "772b4e64.18e6e",
        "group": "49deb1f5.12e01",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rest time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 860,
        "wires": []
    },
    {
        "id": "7241ddc8.4ff374",
        "type": "ui_text",
        "z": "772b4e64.18e6e",
        "group": "49deb1f5.12e01",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Working / sitting time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 940,
        "y": 920,
        "wires": []
    },
    {
        "id": "7acde8dbf3f071cd",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 1",
        "info": "",
        "x": 1960,
        "y": 40,
        "wires": []
    },
    {
        "id": "17aca1c53b869e6f",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var detectionBottom = global.get(\"detectionBottom\");\nvar detectionShortPeople = global.get(\"detectionShortPeople\");\nif (detectionBottom==false){\n    node.send({background:\"rgb(0,191,255)\"});\n}else{\n    \n    if(detectionShortPeople==true){\n        node.send({background:\"rgb(96, 72, 86)\"});\n    }else{\n    return msg;\n        \n    }\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 120,
        "wires": [
            [
                "5bd13785.e19178"
            ]
        ]
    },
    {
        "id": "6d7c213cb0335c2c",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var detectionBottom = global.get(\"detectionBottom\");\nvar detectionShortPeople = global.get(\"detectionShortPeople\");\nif (detectionBottom==false){\n    node.send({background:\"rgb(0,191,255)\"});\n}else{\n    \n    if(detectionShortPeople==true){\n        node.send({background:\"rgb(96, 72, 86)\"});\n    }else{\n    return msg;\n        \n    }\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 240,
        "wires": [
            [
                "f2348297.312d5"
            ]
        ]
    },
    {
        "id": "131ae227fb042b68",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var detectionBottom = global.get(\"detectionBottom\");\n\nif (detectionBottom==false){\n    node.send({background:\"rgb(0,191,255)\"});\n}else{\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2780,
        "y": 360,
        "wires": [
            [
                "dddbfdf.a0487"
            ]
        ]
    },
    {
        "id": "0246f359163fb44e",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var detectionBottom = global.get(\"detectionBottom\");\n\nif (detectionBottom==false){\n    node.send({background:\"rgb(0,191,255)\"});\n}else{\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2780,
        "y": 480,
        "wires": [
            [
                "d389f6c.a7b4808"
            ]
        ]
    },
    {
        "id": "96ec1bde57d2e2a6",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var detectionBottom = global.get(\"detectionBottom\");\n\nif (detectionBottom==false){\n    node.send({background:\"rgb(0,191,255)\"});\n}else{\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2780,
        "y": 600,
        "wires": [
            [
                "1a670f20.74b8d1"
            ]
        ]
    },
    {
        "id": "3efbf2f48782bb1c",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var detectionBottom = global.get(\"detectionBottom\");\n\nif (detectionBottom==false){\n    node.send({background:\"rgb(0,191,255)\"});\n}else{\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2780,
        "y": 720,
        "wires": [
            [
                "32a2c8b6.ad1ef8"
            ]
        ]
    },
    {
        "id": "fb307592948fc9b6",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var detectionBottom = global.get(\"detectionBottom\");\n\nif (detectionBottom==false){\n    node.send({background:\"rgb(0,191,255)\"});\n}else{\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2780,
        "y": 840,
        "wires": [
            [
                "4e76324b.e51c5c"
            ]
        ]
    },
    {
        "id": "9d67c39c05457e0f",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var detectionBottom = global.get(\"detectionBottom\");\n\nif (detectionBottom==false){\n    node.send({background:\"rgb(0,191,255)\"});\n}else{\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2780,
        "y": 960,
        "wires": [
            [
                "525a6967.a4b008"
            ]
        ]
    },
    {
        "id": "726f68ccb9ecf067",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "",
        "func": "var detectionBottom = global.get(\"detectionBottom\");\n\nif (detectionBottom==false){\n    node.send({background:\"rgb(0,191,255)\"});\n}else{\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2780,
        "y": 1080,
        "wires": [
            [
                "7f66877b.72f598"
            ]
        ]
    },
    {
        "id": "5d1b33588ba84112",
        "type": "debug",
        "z": "772b4e64.18e6e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "0d6c6de3cd3d565e",
        "type": "link in",
        "z": "772b4e64.18e6e",
        "name": "pov out",
        "links": [
            "7fc6889e7ec5d618"
        ],
        "x": 435,
        "y": 240,
        "wires": [
            [
                "c955f148.352cb",
                "dbf643f6.8ba"
            ]
        ]
    },
    {
        "id": "937f80c3f7d5871b",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "info",
        "info": "node-red verion 2.2.2\nesp32 verion v1\nnode-red code v1",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "b66416e4.9e3488",
        "type": "switch",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "a.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "b.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "c.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "d.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "e.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "f.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "g.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "h.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "i.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "cc9057d2.900d98"
            ],
            [
                "1efff684.4c27e9"
            ],
            [
                "220833e1.adeecc"
            ],
            [
                "aa5e712d.a8f6"
            ],
            [
                "a391ea57.ec4748"
            ],
            [
                "9ba68925.368698"
            ],
            [
                "c950c7e3.062088"
            ],
            [
                "1ac27291.4d67bd"
            ],
            [
                "d2f09002.f1a8e"
            ]
        ],
        "outputLabels": [
            "sensor 1,a",
            "sensor 2,b",
            "sensor 3,c",
            "sensor 4,d",
            "sensor 5,e",
            "sensor 6,f",
            "sensor 7,g",
            "sensor 8,h",
            "sensor 9,i"
        ]
    },
    {
        "id": "cc9057d2.900d98",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "sensor 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "a.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 80,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "1efff684.4c27e9",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "sensor 2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "220833e1.adeecc",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "sensor 3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "c.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "aa5e712d.a8f6",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "sensor 4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "d.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "a391ea57.ec4748",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "sensor 5",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "e.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "9ba68925.368698",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "sensor 6",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "f.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "c950c7e3.062088",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "sensor 7",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "g.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 320,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "1ac27291.4d67bd",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "sensor 8",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "h.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "d2f09002.f1a8e",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "sensor 9",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "i.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 400,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "332fc34a.2a909c",
        "type": "join",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "9",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "333a0831.528298"
            ]
        ]
    },
    {
        "id": "14323014.f36b8",
        "type": "link in",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "",
        "links": [
            "b687f285.31795"
        ],
        "x": 175,
        "y": 220,
        "wires": [
            [
                "b66416e4.9e3488"
            ]
        ]
    },
    {
        "id": "d94fff7a.517ba",
        "type": "debug",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 260,
        "wires": []
    },
    {
        "id": "333a0831.528298",
        "type": "debug",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "9de97f82.1271",
        "type": "range",
        "z": "dc7f38ca.1f1628",
        "d": true,
        "minin": "0",
        "maxin": "1024",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1150,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "284edaeb.e4e2c6",
        "type": "function",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "func": "var sensor_1 = global.get(\"sensor_1\");\nvar sensor_2 = global.get(\"sensor_2\");\nvar sensor_3 = global.get(\"sensor_3\");\nvar sensor_4 = global.get(\"sensor_4\");\nvar sensor_5 = global.get(\"sensor_5\");\nvar sensor_6 = global.get(\"sensor_6\");\nvar sensor_7 = global.get(\"sensor_7\");\nvar sensor_8 = global.get(\"sensor_8\");\nvar sensor_9 = global.get(\"sensor_9\");\nvar detectionBottom=global.get(\"detectionBottom\");\nvar count = 0;\nif (detectionBottom==true){\n    \n    if(global.get(\"detectionShortPeople\")==true){\n        count=sensor_3+sensor_4+sensor_5+sensor_6+sensor_7+sensor_8+sensor_9;\n      count+=10000;\n      node.send({payload:count});\n    }else{\n        count=sensor_1+sensor_2+sensor_3+sensor_4+sensor_5+sensor_6+sensor_7+sensor_8+sensor_9;\n    node.send({payload:count});\n    \n    }\n    \n}else{\n    node.send({payload:0, topic:2});\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nnode.send({payload:1, topic:1});",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "4f8d6c7c0561d9f3"
            ]
        ]
    },
    {
        "id": "474be0f3.c7736",
        "type": "inject",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "284edaeb.e4e2c6"
            ]
        ]
    },
    {
        "id": "e468bf97.d3372",
        "type": "debug",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "0fb4519993d33b89",
        "type": "ui_chart",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "group": "8a312ad2.ae3c18",
        "order": 4,
        "width": "9",
        "height": "8",
        "label": "Sitting Score",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0095ff",
            "#e70426",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bc8479301fa6b122",
        "type": "range",
        "z": "dc7f38ca.1f1628",
        "minin": "0",
        "maxin": "4500",
        "minout": "0",
        "maxout": "10",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "0-4500",
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "0fb4519993d33b89",
                "e468bf97.d3372"
            ]
        ]
    },
    {
        "id": "eb94ab33c809870c",
        "type": "range",
        "z": "dc7f38ca.1f1628",
        "minin": "10000",
        "maxin": "13500",
        "minout": "0",
        "maxout": "10",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "10000-13500",
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "0fb4519993d33b89",
                "dd776faea2f20f94"
            ]
        ]
    },
    {
        "id": "dd776faea2f20f94",
        "type": "debug",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 560,
        "wires": []
    },
    {
        "id": "4f8d6c7c0561d9f3",
        "type": "switch",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "4500",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "10000",
                "vt": "num",
                "v2": "13500",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 540,
        "wires": [
            [
                "bc8479301fa6b122"
            ],
            [
                "eb94ab33c809870c"
            ]
        ],
        "outputLabels": [
            "4500",
            "3500"
        ]
    },
    {
        "id": "845959e.0f5d7a8",
        "type": "exec",
        "z": "af13bad2.757ad8",
        "command": "node-red-restart",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1060,
        "y": 700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "bd706339.2ff22",
        "type": "exec",
        "z": "af13bad2.757ad8",
        "command": "sudo poweroff",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1060,
        "y": 820,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f43446c.df038b8",
        "type": "exec",
        "z": "af13bad2.757ad8",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1050,
        "y": 880,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d89cd4cc.ff7b48",
        "type": "exec",
        "z": "af13bad2.757ad8",
        "command": "node-red-stop",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1060,
        "y": 760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "592243486f8316f0",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Default time for sitting",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "30",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 600,
        "y": 600,
        "wires": [
            [
                "3ab224888a93470b"
            ]
        ]
    },
    {
        "id": "9d9ee343779565eb",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Extended time for sitting",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "60",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "3ab224888a93470b"
            ]
        ]
    },
    {
        "id": "d5dba9071eed1298",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart Node Red",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "845959e.0f5d7a8"
            ]
        ]
    },
    {
        "id": "c85738395686544d",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Power Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 820,
        "wires": [
            [
                "bd706339.2ff22"
            ]
        ]
    },
    {
        "id": "1cc0438d7bb01be6",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 880,
        "wires": [
            [
                "f43446c.df038b8"
            ]
        ]
    },
    {
        "id": "c95ab01624b80de8",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Node Red",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 580,
        "y": 760,
        "wires": [
            [
                "d89cd4cc.ff7b48"
            ]
        ]
    },
    {
        "id": "3ab224888a93470b",
        "type": "ui_slider",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "Manual time for sitting",
        "tooltip": "",
        "group": "a61f5046.b796f",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": "2",
        "max": "90",
        "step": "2",
        "className": "",
        "x": 900,
        "y": 580,
        "wires": [
            [
                "b96e569c64a138fc",
                "76f3171e8b6dd4b2"
            ]
        ]
    },
    {
        "id": "f9a2b645ab16643d",
        "type": "ui_audio",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a4a5657b.ad6998",
        "voice": "",
        "always": true,
        "x": 1510,
        "y": 380,
        "wires": []
    },
    {
        "id": "8cd1914489976f5a",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "d": true,
        "group": "8a312ad2.ae3c18",
        "name": "Background image template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body {\n        background-image: url(\"/white.png\");\n        background-repeat: no-repeat;\n        background-position: 100% 100%;\n        background-size: 100%;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "daa1e1a1d0c235bf",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "d": true,
        "group": "8d305fa8.31707",
        "name": "Background image template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body {\n        background-image: url(\"/white.png\");\n        background-repeat: no-repeat;\n        background-position: 100% 100%;\n        background-size: 100%;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 900,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3f55d34beac88f49",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "d": true,
        "group": "a4a5657b.ad6998",
        "name": "transperent group status",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "\n<style>\n    #Chair_status_cards{\n        background-color:#12345600;\n    }\n    #Chair_status{\n        background-color:#12345600;\n        border:none;\n    }\n</style>\n<script>\nfunction updateContainerStyle (el) {\n\tel = el.parentElement\n\tif (el && el.classList.contains('nr-dashboard-template')) {\n\t    // uncomment next line to make the parent container transparent\n\t\tel.style.backgroundColor = \"#12345600\"\n\t}\n}\n\nupdateContainerStyle(document.getElementById(\"div-in-template\"))\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "450c941b07414447",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "group": "a4a5657b.ad6998",
        "name": "transperent group spacer",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "\n<style>\n    #Chair_spacer_cards{\n        background-color:#12345600;\n    }\n    #Chair_spacer{\n        background-color:#12345600;\n        border:none;\n    }\n    #Chair_dashboard_cards{\n        text-align:center;\n    }\n    #Chair_dashboard{\n        text-align:center;\n    }\n    #Chair_status_cards{\n        text-align:center;\n    }\n    #Chair_status{\n        text-align:center;\n    }\n</style>\n<script>\nfunction updateContainerStyle (el) {\n\tel = el.parentElement\n\tif (el && el.classList.contains('nr-dashboard-template')) {\n\t    // uncomment next line to make the parent container transparent\n\t\tel.style.backgroundColor = \"#12345600\"\n\t}\n}\n\nupdateContainerStyle(document.getElementById(\"div-in-template\"))\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "00a6fbe9952e4bc1",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "group": "a4a5657b.ad6998",
        "name": "transperent group dashboard",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "\n<style>\n    #Chair_dashboard_cards{\n        background-color:#12345600;\n    }\n    #Chair_dashboard{\n        background-color:#12345600;\n        border:none;\n    }\n</style>\n<script>\nfunction updateContainerStyle (el) {\n\tel = el.parentElement\n\tif (el && el.classList.contains('nr-dashboard-template')) {\n\t    // uncomment next line to make the parent container transparent\n\t\tel.style.backgroundColor = \"#12345600\"\n\t}\n}\n\nupdateContainerStyle(document.getElementById(\"div-in-template\"))\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 880,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6038fcadb7634da6",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "group": "a4a5657b.ad6998",
        "name": "Background image template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    #Chair_dashboard{\n        background-image:url('https://i.postimg.cc/cJwj97P1/chair1-2.png');\n        background-size:65% 90%;\n        background-position-x: 79px;\n        background-position-y: 70px;\n         background-repeat:no-repeat;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b96e569c64a138fc",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "time_for_sitting",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "26345aa62efa6edd",
        "type": "ui_slider",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "LEDs brightness",
        "tooltip": "",
        "group": "8d305fa8.31707",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 580,
        "y": 960,
        "wires": [
            [
                "becc42027873824d"
            ]
        ]
    },
    {
        "id": "715329c016f666e6",
        "type": "function",
        "z": "af13bad2.757ad8",
        "name": "",
        "func": "global.set(\"brightness\",msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2781892b8a1d50a2",
        "type": "start-up-trigger",
        "z": "af13bad2.757ad8",
        "x": 100,
        "y": 800,
        "wires": [
            [
                "7652af1349acc003",
                "fd299c72ba103a9f"
            ]
        ]
    },
    {
        "id": "7652af1349acc003",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "30",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 960,
        "wires": [
            [
                "26345aa62efa6edd"
            ]
        ]
    },
    {
        "id": "becc42027873824d",
        "type": "range",
        "z": "af13bad2.757ad8",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 800,
        "y": 960,
        "wires": [
            [
                "715329c016f666e6"
            ]
        ]
    },
    {
        "id": "76f3171e8b6dd4b2",
        "type": "function",
        "z": "af13bad2.757ad8",
        "name": "",
        "func": "var tim30=msg.payload*60;\nvar tim5= Math.round(msg.payload/3*60);\nglobal.set(\"timer30settings\",tim30);\nglobal.set(\"timer5settings\",tim5);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c24c66e655a6b0d1",
        "type": "ui_switch",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "Point of view",
        "tooltip": "",
        "group": "8d305fa8.31707",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "toggle",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "toggle",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 570,
        "y": 1040,
        "wires": [
            [
                "7fc6889e7ec5d618"
            ]
        ]
    },
    {
        "id": "7fc6889e7ec5d618",
        "type": "link out",
        "z": "af13bad2.757ad8",
        "name": "pov in",
        "links": [
            "0d6c6de3cd3d565e"
        ],
        "x": 705,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a28760739d60d186",
        "type": "ui_switch",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "Sound",
        "tooltip": "",
        "group": "8d305fa8.31707",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "toggle",
        "onvalueType": "str",
        "onicon": "volume_up",
        "oncolor": "black",
        "offvalue": "toggle",
        "offvalueType": "str",
        "officon": "volume_mute",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 550,
        "y": 1100,
        "wires": [
            [
                "4b55f777bc6bd14c"
            ]
        ]
    },
    {
        "id": "4b55f777bc6bd14c",
        "type": "link out",
        "z": "af13bad2.757ad8",
        "name": "sound in",
        "mode": "link",
        "links": [
            "30676345654f090f"
        ],
        "x": 705,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fd299c72ba103a9f",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "30",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 600,
        "wires": [
            [
                "592243486f8316f0"
            ]
        ]
    },
    {
        "id": "37d814d810e53f1f",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "group": "49deb1f5.12e01",
        "name": "Logo",
        "order": 33,
        "width": "3",
        "height": "4",
        "format": "<img src=\"https://i.postimg.cc/4dX8WDzw/logo.png\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "369592db.ff3c3e",
        "type": "ui_upload",
        "z": "af13bad2.757ad8",
        "group": "bbbc3c43.e1dff",
        "title": "Upload your custom sound effects",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "chunk": 256,
        "transfer": "binary",
        "x": 310,
        "y": 1260,
        "wires": [
            [
                "8131c214.ad0408"
            ]
        ]
    },
    {
        "id": "3f03e074.34b688",
        "type": "file",
        "z": "af13bad2.757ad8",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 610,
        "y": 1260,
        "wires": [
            [
                "57939435.f397c4"
            ]
        ]
    },
    {
        "id": "57939435.f397c4",
        "type": "function",
        "z": "af13bad2.757ad8",
        "name": "Ready for next lines",
        "func": "return { tick: true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1260,
        "wires": [
            [
                "369592db.ff3c3e"
            ]
        ]
    },
    {
        "id": "8131c214.ad0408",
        "type": "function",
        "z": "af13bad2.757ad8",
        "name": "Filename",
        "func": "let filename = msg.file.name || 'tmp.txt';\nfilename = filename.replace(/[/\\\\]]/g, '_');\nmsg.filename = '/home/pi/.node-red/projects/chair/set up/' + msg.file.name;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1260,
        "wires": [
            [
                "3f03e074.34b688"
            ]
        ]
    },
    {
        "id": "9c937c19401e0704",
        "type": "fs-list",
        "z": "af13bad2.757ad8",
        "name": "",
        "path": "payload",
        "pathType": "msg",
        "pattern": "*",
        "patternType": "str",
        "filter": "all",
        "recursive": false,
        "follow": true,
        "property": "list",
        "propertyType": "msg",
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "8599fb65c4aa0a4a"
            ]
        ]
    },
    {
        "id": "11e77e5752baacbd",
        "type": "ui_dropdown",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "Chose incorrect sitting sound effect",
        "tooltip": "",
        "place": "Select option",
        "group": "bbbc3c43.e1dff",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1220,
        "y": 1380,
        "wires": [
            [
                "1c3bcd8a6042717b"
            ]
        ]
    },
    {
        "id": "8599fb65c4aa0a4a",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "list",
                "pt": "msg",
                "to": "options",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1420,
        "wires": [
            [
                "ef4830a87c765de6",
                "ecf21c9aaf155283"
            ]
        ]
    },
    {
        "id": "aa509ce33b86a32c",
        "type": "ui_dropdown",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "Chose forbiden sitting sound effect",
        "tooltip": "",
        "place": "Select option",
        "group": "bbbc3c43.e1dff",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1220,
        "y": 1460,
        "wires": [
            [
                "63866dcb4e59c344"
            ]
        ]
    },
    {
        "id": "b7c5d15d0a23ed35",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "incorectSittingSoundEffect",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "c002db7e2970ba1c",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "forbidenSittingSoundEffect",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "1c3bcd8a6042717b",
        "type": "function",
        "z": "af13bad2.757ad8",
        "name": "",
        "func": "if(msg.payload!=null||msg.payload!=\"\"){\n    \nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 1380,
        "wires": [
            [
                "b7c5d15d0a23ed35"
            ]
        ]
    },
    {
        "id": "63866dcb4e59c344",
        "type": "function",
        "z": "af13bad2.757ad8",
        "name": "",
        "func": "if(msg.payload!=null||msg.payload!=\"\"){\n    \nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 1460,
        "wires": [
            [
                "c002db7e2970ba1c"
            ]
        ]
    },
    {
        "id": "3f6355d3a1a341d0",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "bbbc3c43.e1dff",
        "order": 34,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "/home/pi/.node-red/projects/chair/set up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 1400,
        "wires": [
            [
                "9c937c19401e0704"
            ]
        ]
    },
    {
        "id": "def721a725f28aae",
        "type": "inject",
        "z": "af13bad2.757ad8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "/home/pi/.node-red/projects/chair/set up",
        "payloadType": "str",
        "x": 250,
        "y": 1440,
        "wires": [
            [
                "9c937c19401e0704"
            ]
        ]
    },
    {
        "id": "ef4830a87c765de6",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "incorectSittingSoundEffect",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1380,
        "wires": [
            [
                "11e77e5752baacbd"
            ]
        ]
    },
    {
        "id": "ecf21c9aaf155283",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "forbidenSittingSoundEffect",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1460,
        "wires": [
            [
                "aa509ce33b86a32c"
            ]
        ]
    },
    {
        "id": "43c04df2.bb05b4",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sensor_7",
        "payloadType": "global",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "2493dfbe.bceec"
            ]
        ]
    },
    {
        "id": "b9a0849.bd1d078",
        "type": "debug",
        "z": "cc53778b.362758",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "2e38984.3d2bf68",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "53725210.061f8c"
            ]
        ]
    },
    {
        "id": "53725210.061f8c",
        "type": "change",
        "z": "cc53778b.362758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timer30",
                "pt": "global",
                "to": "10",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "916b23c5.5b5d1",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "",
        "func": "var sensor_7 = global.get(\"sensor_7\");\nvar timer30 = global.get(\"timer_30\");\n\nif (timer30 <= 0){\n    timer30=2;\n}\n\nif (sensor_7 > 50){\n    timer30=timer30-1;\n    global.set(\"timer_30\", timer30);\n    return {payload:timer30, topic:\"control\"}\n} \n\nelse {\n    return {payload:false}\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2880e6ad.ae817a",
        "type": "comment",
        "z": "cc53778b.362758",
        "name": "raboti",
        "info": "",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "77fa3b57.930a64",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "",
        "func": "var sensor_7 = global.get(\"sensor_7\");\nvar timer30=global.get(\"timer30\");\nvar timer5=global.get(\"timer5\");\nnode.send([null,{timer30:timer30,timer5:timer5}]);\n\nif (timer30==0 && sensor_7>50 && timer5==0){\n    timer30=global.get(\"timer30\");\n}\nif (timer30)\n\nif (sensor_7 > 50){\n    if (timer30 >= 0){\n         //setTimeout(sitting,timer30);\n         timer30=timer30-1;\n         global.set(\"timer30\", timer30);\n    }\n} \n/*\nfunction sitting(){\n    node.send([{payload:true},null]);\n}*/\n\nif (timer30==0 && timer5==0){\n    //setTimeout(sitanding,timer5);\n    timer5=timer5-1;\n    global.set(\"timer5\", timer5);\n}\n\n/*function sitanding(){\n    node.send([{payload:false},null]);\n}*/",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "92afcbfb.a9b308",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "",
        "func": "var calc=global.get(\"timer_30\");\ncalc = calc-1;\nreturn  {payload: calc, topic: \"control\"};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7b8b5352.71d6dc",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "10a2f660.36bfba"
            ]
        ]
    },
    {
        "id": "10a2f660.36bfba",
        "type": "change",
        "z": "cc53778b.362758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timer5",
                "pt": "global",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "366dcc28.910b14",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "4f0e8105.7409"
            ]
        ]
    },
    {
        "id": "4f0e8105.7409",
        "type": "change",
        "z": "cc53778b.362758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timer5",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "3e0d9a73.7e91e6",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "2cead9b7.e5e1e6"
            ]
        ]
    },
    {
        "id": "2cead9b7.e5e1e6",
        "type": "change",
        "z": "cc53778b.362758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timer30",
                "pt": "global",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6e938974.681a58",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "",
        "func": "var sensor_7 = global.get(\"sensor_7\");\nvar timer30=global.get(\"timer30\");\nvar timer5=global.get(\"timer5\");\n\nif (timer30<=0){\n        global.set(\"timer30\",global.get(\"timer30settings\"));\n    }\n    \nif (sensor_7>50 && timer5<=0 && timer30>=0){\n    timer30=timer30-1;\n    global.set(\"timer30\",timer30);\n}\n\n\nif (timer5<=0){\n    global.set(\"timer5\",global.get(\"timer5settings\"));\n\n    }\n\nif (timer30==0){\n    timer5=timer5-1;\n    global.set(\"timer5\",timer5);\n}else{\n    global.set(\"timer5\",0);\n}\n\n\nnode.send([null,{timer30:timer30,timer5:timer5}]);\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "38b7981a.f7a2d8",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "",
        "func": "var sensor_7 = global.get(\"sensor_7\");\nvar timer30=global.get(\"timer30\");\nvar timer5=global.get(\"timer5\");\n\nif (timer30<=0){\n        global.set(\"timer30\",global.get(\"timer30settings\"));\n    }\n    \nwhile (sensor_7>50 && timer5<=0){\n    timer30=timer30-1;\n    global.set(\"timer30\",timer30);\n    if (timer30<=0) {\n        break;\n    }\n}\n\nif (timer5<=0){\n    global.set(\"timer5\",global.get(\"timer5settings\"));\n\n    }\n\nwhile (timer30==0){\n    timer5=timer5-1;\n    global.set(\"timer5\",timer5);\n} \n\n\nif (timer30==0){}\nelse{\n    global.set(\"timer5\",0);\n}\n\n\nnode.send([null,{timer30:timer30,timer5:timer5}]);\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dea93835.41c5a8",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "",
        "func": "var sensor_7 = global.get(\"sensor_7\");\nvar timer30=global.get(\"timer30\");\nvar timer5=global.get(\"timer5\");\n\nif (sensor_7>50 && timer5==0 && timer30>=0){\n    timer30=timer30-1;\n    global.set(\"timer30\",timer30);\n    if (timer30<=0){\n        global.set(\"timer30\",global.get(\"timer30settings\"));\n        node.error(\"timer 30 got value from timer30settings\");\n    }\n}\n\nif (timer30==0){\n    if (timer5<=0){\n    global.set(\"timer5\",global.get(\"timer5settings\"));\n    node.error(\"timer 5 got value from timer5settings\");\n    }\n    timer5=timer5-1;\n    global.set(\"timer5\",timer5);\n}\nwhile (timer5<=0){\n    timer5=0;\n}\n\n\nnode.send([null,{timer30:timer30,timer5:timer5}]);\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2493dfbe.bceec",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "Countdown",
        "func": "var sensor_7 = global.get(\"sensor_7\");\nvar timer30=global.get(\"timer30\");\nvar timer5=global.get(\"timer5\");\nvar timeout=global.get(\"timeout\");\nvar detectionBottom=global.get(\"detectionBottom\");\n\nif (detectionBottom==true && timer30>0){\n    timer30=timer30-1;\n    if (timer30==0){\n        timeout=1;\n        timer5=global.get(\"timer5settings\");\n    }\n}\n\nif (timeout==1){\n    timer5=timer5-1;\n    if (timer5==0){\n        timeout=0;\n        timer30=global.get(\"timer30settings\");\n    }\n}\n\nglobal.set(\"timer30\",timer30);\nglobal.set(\"timer5\",timer5);\nglobal.set(\"timeout\",timeout);\n\nnode.send([{timeout:timeout},{timer30:timer30,timer5:timer5}]);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"timer30\",global.get(\"timer30settings\"));\nglobal.set(\"timer5\",global.get(\"timer5settings\"));\nglobal.set(\"timeout\",0);",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "51c537b5.af4ef8",
                "767df50bd25df128"
            ],
            [
                "b9a0849.bd1d078"
            ]
        ]
    },
    {
        "id": "771d263b.3d9638",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g.300",
        "payloadType": "str",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "e270db02.487ef8"
            ]
        ]
    },
    {
        "id": "1478bb68.318eb5",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g.0",
        "payloadType": "str",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "e270db02.487ef8"
            ]
        ]
    },
    {
        "id": "e270db02.487ef8",
        "type": "link out",
        "z": "cc53778b.362758",
        "name": "",
        "links": [
            "20089778.b355c8",
            "491344a2.8d453c"
        ],
        "x": 495,
        "y": 140,
        "wires": []
    },
    {
        "id": "51c537b5.af4ef8",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "led indicator",
        "func": "var count=msg.timeout; \nvar detection=global.get(\"detection\");\n\nif (detection==true && count ==0){\n    node.send({payload:2});\n} else{\n   node.send({payload:count});\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ef2d960b.d78688",
        "type": "debug",
        "z": "cc53778b.362758",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 220,
        "wires": []
    },
    {
        "id": "21ad533d.4ddcfc",
        "type": "link out",
        "z": "cc53778b.362758",
        "name": "led indicator input",
        "links": [
            "35be3bd2.e0a234",
            "b8982707.de1d18"
        ],
        "x": 1415,
        "y": 320,
        "wires": []
    },
    {
        "id": "3afcb30e.2b97dc",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "audio alert",
        "func": "var incorectSittingSoundEffect =\"/home/pi/.node-red/projects/chair/set up/\"+global.get(\"incorectSittingSoundEffect\");\nvar forbidenSittingSoundEffect =\"/home/pi/.node-red/projects/chair/set up/\"+ global.get(\"forbidenSittingSoundEffect\");\n\nif(msg.payload==4){\n    node.send({filename:incorectSittingSoundEffect});\n}\nif(msg.payload==5){\n    node.send({filename:forbidenSittingSoundEffect});\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 440,
        "wires": [
            [
                "bf694bf2.ff2a68"
            ]
        ]
    },
    {
        "id": "bf694bf2.ff2a68",
        "type": "file in",
        "z": "cc53778b.362758",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1960,
        "y": 440,
        "wires": [
            [
                "5a94042d9121aa95",
                "2ea960f8bcc074ab"
            ]
        ]
    },
    {
        "id": "767df50bd25df128",
        "type": "function",
        "z": "cc53778b.362758",
        "name": "SItting status",
        "func": "var detectionBottom=global.get(\"detectionBottom\");\nvar timeout=global.get(\"timeout\");\n\nvar sensor_1 = global.get(\"sensor_1\");\nvar sensor_2 = global.get(\"sensor_2\");\nvar sensor_3 = global.get(\"sensor_3\");\nvar sensor_4 = global.get(\"sensor_4\");\nvar sensor_5 = global.get(\"sensor_5\");\nvar sensor_6 = global.get(\"sensor_6\");\nvar sensor_7 = global.get(\"sensor_7\");\nvar sensor_8 = global.get(\"sensor_8\");\nvar sensor_9 = global.get(\"sensor_9\");\n\nvar sn_sens_all = global.get(\"sn_sens_all\");\nvar detectionShortPeople = global.get(\"detectionShortPeople\");\n\n\n\n//za koga sedis a timero e izminal\nif(detectionBottom==true && timeout ==1){\n    node.send({payload:5});\n}\n\n\n\n\n//koga ne sedis\nif(detectionBottom==false){\n    node.send({payload:1});\n}\n\n\n\n\n\n//koga sedis pravilno i koga ne sedis pravilno\nvar sensors3_9 = true;\nvar sensors1_2 = false;\n\nif (detectionBottom == true&&timeout ==0) {\n    if (detectionShortPeople == false) {\n        if (sensor_1 < sn_sens_all ||\n            sensor_2 < sn_sens_all) {\n            sensors1_2=true;\n        }\n    } else {\n        sensors1_2=false;\n    }\n    if (sensor_3 < sn_sens_all ||\n        sensor_4 < sn_sens_all ||\n        sensor_5 < sn_sens_all ||\n        sensor_6 < sn_sens_all ||\n        sensor_7 < sn_sens_all ||\n        sensor_8 < sn_sens_all ||\n        sensor_9 < sn_sens_all) {\n        sensors3_9=true;\n    } else {\n        sensors3_9=false;\n    }\n    if (sensors1_2 || sensors3_9) {\n    node.send({ payload: 4 });\n} else {\n    node.send({ payload: 3 });\n}\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 260,
        "wires": [
            [
                "ef2d960b.d78688",
                "21ad533d.4ddcfc",
                "5147c879dbd0cd23"
            ]
        ]
    },
    {
        "id": "5a94042d9121aa95",
        "type": "debug",
        "z": "cc53778b.362758",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 380,
        "wires": []
    },
    {
        "id": "353238d6780de811",
        "type": "delay",
        "z": "cc53778b.362758",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1600,
        "y": 440,
        "wires": [
            [
                "3afcb30e.2b97dc"
            ]
        ]
    },
    {
        "id": "2ea960f8bcc074ab",
        "type": "ui_audio",
        "z": "cc53778b.362758",
        "name": "audio",
        "group": "a4a5657b.ad6998",
        "voice": "Microsoft George - English (United Kingdom)",
        "always": true,
        "x": 2270,
        "y": 420,
        "wires": []
    },
    {
        "id": "5147c879dbd0cd23",
        "type": "gate",
        "z": "cc53778b.362758",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1410,
        "y": 400,
        "wires": [
            [
                "353238d6780de811"
            ]
        ]
    },
    {
        "id": "30676345654f090f",
        "type": "link in",
        "z": "cc53778b.362758",
        "name": "sound out",
        "links": [
            "4b55f777bc6bd14c"
        ],
        "x": 1175,
        "y": 380,
        "wires": [
            [
                "5147c879dbd0cd23"
            ]
        ]
    },
    {
        "id": "2a6a1d2d.cf9e12",
        "type": "link out",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "links": [
            "20089778.b355c8",
            "491344a2.8d453c"
        ],
        "x": 375,
        "y": 360,
        "wires": []
    },
    {
        "id": "e802718.821529",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "a.10",
        "payloadType": "str",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "e201f932.afe2d8",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "b.450",
        "payloadType": "str",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "3b5f2375.c6da7c",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "c.100",
        "payloadType": "str",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "bb05b4.caab9a5",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "d.150",
        "payloadType": "str",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "a637b93c.00cc58",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "e.200",
        "payloadType": "str",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "9976d080.5b086",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "f.250",
        "payloadType": "str",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "c4cea1f7.5adfc",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g.300",
        "payloadType": "str",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "182f3a8c.169c95",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "h.350",
        "payloadType": "str",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "a1c05efb.1f0fe",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "i.400",
        "payloadType": "str",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "86a8cf72.f6d03",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g.0",
        "payloadType": "str",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "7ceae748.ed8978",
        "type": "function",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "func": "\n\nnode.send ({payload:\"test\"});\nsleep(1000);\nreturn msg;\n\nfunction sleep(milliseconds) {\n  const date = Date.now();\n  let currentDate = null;\n  do {\n    currentDate = Date.now();\n  } while (currentDate - date < milliseconds);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 860,
        "wires": [
            [
                "3b5c2f5.6427bd"
            ]
        ]
    },
    {
        "id": "3b5c2f5.6427bd",
        "type": "debug",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "b6644c85.ffb6f",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "7ceae748.ed8978"
            ]
        ]
    },
    {
        "id": "3ff5a3ca.0312ec",
        "type": "rpi-keyboard",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "x": 710,
        "y": 700,
        "wires": [
            [
                "f1be9dfa.d55ca",
                "5da07b3f.ec7594"
            ]
        ]
    },
    {
        "id": "f1be9dfa.d55ca",
        "type": "debug",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 780,
        "wires": []
    },
    {
        "id": "5da07b3f.ec7594",
        "type": "switch",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "18",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "19",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "21",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "23",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "24",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "30",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "31",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "32",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "33",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "34",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "35",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "36",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "37",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "38",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "44",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "45",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "46",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "47",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "48",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "49",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "51",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "52",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 27,
        "x": 1170,
        "y": 680,
        "wires": [
            [
                "565159b0.a35ee8"
            ],
            [
                "b135b908.d6c158"
            ],
            [
                "10fd49f0.22b856"
            ],
            [
                "6b9b2995.3b77f8"
            ],
            [
                "e2085f32.f9fd6"
            ],
            [
                "4f5e71b.c8b4a9"
            ],
            [
                "130cb5ec.cff0ba"
            ],
            [
                "c1c3a29b.1943b"
            ],
            [
                "10b57656.86e7aa"
            ],
            [
                "1d3be616.68424a"
            ],
            [
                "9e38d120.80d2b"
            ],
            [
                "c218f282.74ef3"
            ],
            [
                "9caf2ac.cc335d8"
            ],
            [
                "c819b007.cf91d"
            ],
            [
                "76c4a36e.b83d8c"
            ],
            [
                "befe4a00.870de8"
            ],
            [
                "16e1c390.181e2c"
            ],
            [
                "59eb82c0.247d0c"
            ],
            [
                "d5f9543b.b1b968"
            ],
            [
                "f590fd3d.3a1c6"
            ],
            [
                "7daeeabc.10f874"
            ],
            [
                "bed4aa6e.171f28"
            ],
            [
                "77d7cf69.e4048"
            ],
            [
                "fc0c98e.77cf568"
            ],
            [
                "1cda3eca.7d2e01"
            ],
            [
                "3cd20291.28325e"
            ],
            [
                "1b537d4.447e483"
            ]
        ]
    },
    {
        "id": "565159b0.a35ee8",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 180,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "b135b908.d6c158",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "b.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 220,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "10fd49f0.22b856",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "c.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 260,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "6b9b2995.3b77f8",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "d.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 300,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "e2085f32.f9fd6",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "e.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 340,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "4f5e71b.c8b4a9",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "f.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 380,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "130cb5ec.cff0ba",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "g.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 420,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "1d3be616.68424a",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a.250",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 560,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "9e38d120.80d2b",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "b.250",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 600,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "c218f282.74ef3",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "c.250",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 640,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "9caf2ac.cc335d8",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "d.250",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 680,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "c819b007.cf91d",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "e.250",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 720,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "76c4a36e.b83d8c",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "f.250",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 760,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "befe4a00.870de8",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "g.250",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 800,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "d5f9543b.b1b968",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a.500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 940,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "f590fd3d.3a1c6",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "b.500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 980,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "7daeeabc.10f874",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "c.500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1020,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "bed4aa6e.171f28",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "d.500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1060,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "77d7cf69.e4048",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "e.500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1100,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "fc0c98e.77cf568",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "f.500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1140,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "1cda3eca.7d2e01",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "g.500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1180,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "c1c3a29b.1943b",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "h.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 460,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "10b57656.86e7aa",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "i.0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 500,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "16e1c390.181e2c",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "h.250",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 840,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "59eb82c0.247d0c",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "i.250",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 880,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "3cd20291.28325e",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "h.500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1220,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "1b537d4.447e483",
        "type": "change",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "i.500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 1260,
        "wires": [
            [
                "3565cedc.7fe742"
            ]
        ]
    },
    {
        "id": "3565cedc.7fe742",
        "type": "link out",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "links": [
            "20089778.b355c8"
        ],
        "x": 1885,
        "y": 660,
        "wires": []
    },
    {
        "id": "556a9ff4.11d9e",
        "type": "function",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "func": "var test=msg.payload;\ntest=test*1\nnode.send({payload:test});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "32619549.822f1a"
            ]
        ]
    },
    {
        "id": "10141288.aa207d",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "23",
        "payloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "556a9ff4.11d9e"
            ]
        ]
    },
    {
        "id": "32619549.822f1a",
        "type": "debug",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "1099ca6b.19f956",
        "type": "change",
        "z": "93d0b05b.5a7bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sn_sens",
                "pt": "global",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "sn_sens_all",
                "pt": "global",
                "to": "50",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d5645295.71e4e",
        "type": "change",
        "z": "93d0b05b.5a7bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time_for_sitting",
                "pt": "global",
                "to": "30",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3554451a.5cca1a",
        "type": "function",
        "z": "93d0b05b.5a7bb",
        "name": "Detection",
        "func": "var sensor_1 = global.get(\"sensor_1\");\nvar sensor_2 = global.get(\"sensor_2\");\nvar sensor_7 = global.get(\"sensor_7\");\nvar sensor_8 = global.get(\"sensor_8\");\nvar sensor_9 = global.get(\"sensor_9\");\nvar sn_sens = global.get(\"sn_sens\");\nvar detectionBottom;\ndetectionBottom=sensor_7+sensor_8+sensor_9;\ndetectionBottom=detectionBottom/3;\nvar detectionShortPeople;\ndetectionShortPeople= sensor_1+sensor_2;\ndetectionShortPeople=detectionShortPeople/2;\nif (detectionBottom>sn_sens){\n    global.set(\"detectionBottom\",true);\n} else {\n    global.set(\"detectionBottom\",false);\n}\nif(detectionShortPeople<250){\n    global.set(\"detectionShortPeople\",true);\n}else{\n    global.set(\"detectionShortPeople\",false);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5c44df03.2f7da",
        "type": "inject",
        "z": "93d0b05b.5a7bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "3554451a.5cca1a"
            ]
        ]
    },
    {
        "id": "e7c59569.4b5d78",
        "type": "inject",
        "z": "93d0b05b.5a7bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "d06ce824.b20be8"
            ]
        ]
    },
    {
        "id": "d06ce824.b20be8",
        "type": "exec",
        "z": "93d0b05b.5a7bb",
        "command": "cd / && cd /home/pi/chair && git pull && exit",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 420,
        "wires": [
            [],
            [],
            [
                "2533e49d.87a85c"
            ]
        ]
    },
    {
        "id": "2533e49d.87a85c",
        "type": "debug",
        "z": "93d0b05b.5a7bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "f9d26ee8.82752",
        "type": "exec",
        "z": "93d0b05b.5a7bb",
        "command": "git clone https://github.com/Macka323/chair.git",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 560,
        "y": 500,
        "wires": [
            [
                "2533e49d.87a85c"
            ],
            [],
            [
                "2533e49d.87a85c"
            ]
        ]
    },
    {
        "id": "db468bf5.b828b8",
        "type": "inject",
        "z": "93d0b05b.5a7bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "f9d26ee8.82752"
            ]
        ]
    },
    {
        "id": "c6624ff6.c1e55",
        "type": "exec",
        "z": "93d0b05b.5a7bb",
        "command": "sudo apt-get update && sudo apt upgrade -y",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 580,
        "wires": [
            [],
            [],
            [
                "2533e49d.87a85c"
            ]
        ]
    },
    {
        "id": "c6ded5b0.c41538",
        "type": "inject",
        "z": "93d0b05b.5a7bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "c6624ff6.c1e55"
            ]
        ]
    },
    {
        "id": "05d4fb570b88996a",
        "type": "start-up-trigger",
        "z": "93d0b05b.5a7bb",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "1099ca6b.19f956"
            ]
        ]
    },
    {
        "id": "c7478ca73c3bcfdf",
        "type": "start-up-trigger",
        "z": "93d0b05b.5a7bb",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "d5645295.71e4e",
                "e40a5c4b34e5404e",
                "c1ecfbc8c43ea76c"
            ]
        ]
    },
    {
        "id": "e40a5c4b34e5404e",
        "type": "change",
        "z": "93d0b05b.5a7bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timer30settings",
                "pt": "global",
                "to": "1800",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c1ecfbc8c43ea76c",
        "type": "change",
        "z": "93d0b05b.5a7bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timer5settings",
                "pt": "global",
                "to": "300",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a754740c.ff80b8",
        "type": "serial out",
        "z": "6f0a3208.8a822c",
        "name": "",
        "serial": "e807a58d.090008",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "4bc9b9d1.dee338",
        "type": "function",
        "z": "6f0a3208.8a822c",
        "name": "",
        "func": "var brightness=global.get(\"brightness\");\n\nif(brightness==undefined){\n   brightness=60;\n}\nbrightness+=768;\nif(msg.payload==1){\n   node.send({payload:brightness+\".1051\"})\n}\n\nif(msg.payload==3){\n    node.send({payload:\"0.511.512.\"+brightness+\".1053\"})\n}\nif(msg.payload==4){\n    node.send({payload:\"255.480.512.\"+brightness+\".1054\"})\n}\nif(msg.payload==5){\n    brightness=255;\n    node.send({payload:\"255.256.512.\"+brightness+\".1055\"});\n}\nif(msg.payload==7){\n    node.send({payload:\"1057\"});\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "aed02c0a.5139d",
                "a754740c.ff80b8"
            ]
        ]
    },
    {
        "id": "d6a96e15.1c269",
        "type": "inject",
        "z": "6f0a3208.8a822c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2025",
        "payloadType": "num",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "4bc9b9d1.dee338"
            ]
        ]
    },
    {
        "id": "2c8c9361.16562c",
        "type": "inject",
        "z": "6f0a3208.8a822c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1023",
        "payloadType": "num",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "a754740c.ff80b8"
            ]
        ]
    },
    {
        "id": "5b21e9cb.006e78",
        "type": "inject",
        "z": "6f0a3208.8a822c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1775",
        "payloadType": "num",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "a754740c.ff80b8"
            ]
        ]
    },
    {
        "id": "4c596ba4.0f13e4",
        "type": "inject",
        "z": "6f0a3208.8a822c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "800",
        "payloadType": "num",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "a754740c.ff80b8"
            ]
        ]
    },
    {
        "id": "b8982707.de1d18",
        "type": "link in",
        "z": "6f0a3208.8a822c",
        "name": "",
        "links": [
            "21ad533d.4ddcfc"
        ],
        "x": 175,
        "y": 200,
        "wires": [
            [
                "4bc9b9d1.dee338"
            ]
        ]
    },
    {
        "id": "acdaba97.55d738",
        "type": "inject",
        "z": "6f0a3208.8a822c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "toggle",
        "payloadType": "str",
        "x": 350,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "aed02c0a.5139d",
        "type": "debug",
        "z": "6f0a3208.8a822c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "ab70b180.a491b",
        "type": "inject",
        "z": "6f0a3208.8a822c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "4bc9b9d1.dee338"
            ]
        ]
    },
    {
        "id": "baf47eb3780d2f58",
        "type": "debug",
        "z": "6f0a3208.8a822c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    }
]