flows/all nodes backup
[
    {
        "id": "772b4e64.18e6e",
        "type": "tab",
        "label": "Chair dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dc7f38ca.1f1628",
        "type": "tab",
        "label": "status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "af13bad2.757ad8",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cc53778b.362758",
        "type": "tab",
        "label": "indication",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e6bd1a7b.e18128",
        "type": "tab",
        "label": "tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "644b2219.2275ac",
        "type": "tab",
        "label": "backgrounds",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c103c657.b10728",
        "type": "websocket-listener",
        "path": "",
        "wholemsg": "false"
    },
    {
        "id": "bc402e29.82aae",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "e0e7ea5c.056af8",
        "type": "persist-store",
        "filename": "~/store.json",
        "interval": "60"
    },
    {
        "id": "7cfe000b.34beb",
        "type": "ui_link",
        "name": "Github repository",
        "link": "https://github.com/Macka323/chair",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 4
    },
    {
        "id": "89368e3e.e8a0b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 35,
                "sy": 35,
                "gx": 6,
                "gy": 6,
                "cx": 112,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bb56339e.2abaa",
        "type": "ui_tab",
        "name": "Chair",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a7b5679.e3e9e8",
        "type": "ui_tab",
        "name": "Stats",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "666ce8f4.6780c8",
        "type": "ui_tab",
        "name": "settings",
        "icon": "settings",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a4a5657b.ad6998",
        "type": "ui_group",
        "name": "dashboard",
        "tab": "bb56339e.2abaa",
        "order": 1,
        "disp": true,
        "width": "2",
        "collapse": false
    },
    {
        "id": "8a312ad2.ae3c18",
        "type": "ui_group",
        "name": "",
        "tab": "9a7b5679.e3e9e8",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false
    },
    {
        "id": "8d305fa8.31707",
        "type": "ui_group",
        "name": "Visual-settings",
        "tab": "666ce8f4.6780c8",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "49deb1f5.12e01",
        "type": "ui_group",
        "name": "status",
        "tab": "bb56339e.2abaa",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "7db0b691.b8aa88",
        "type": "ui_group",
        "name": "spacer",
        "tab": "bb56339e.2abaa",
        "order": 2,
        "disp": false,
        "width": "3",
        "collapse": false
    },
    {
        "id": "a61f5046.b796f",
        "type": "ui_group",
        "name": "General settings",
        "tab": "666ce8f4.6780c8",
        "order": 2,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "7534c655.1c8b38",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "444dec1e.47f464",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b773d0.d1cd5c4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "e3c97686.204ea8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "950c64e1.4f19e8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "119df2cf.a019dd",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "a2b6ba4c.ac2598",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "93c1bc42.41993",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "48c08ef4.26603",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "2f5e3be9.8f6b54",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "a9e82da.f5697d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "8f38ef56.61501",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "6a31addf.c4d394",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "b93e86b8.b62ec8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a4a5657b.ad6998",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "c5a55bf.9dd48a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "49deb1f5.12e01",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "72a34362.f8346c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "7db0b691.b8aa88",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "793c0106.f5d84",
        "type": "serial in",
        "z": "772b4e64.18e6e",
        "name": "",
        "serial": "bc402e29.82aae",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "dbf643f6.8ba",
                "c955f148.352cb"
            ]
        ]
    },
    {
        "id": "2bbb4ab1.8c3416",
        "type": "switch",
        "z": "772b4e64.18e6e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "a.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "b.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "c.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "d.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "e.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "f.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "g.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "h.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "i.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 870,
        "y": 260,
        "wires": [
            [
                "691dbee2.8ba5a"
            ],
            [
                "6c99a29b.22ce6c"
            ],
            [
                "9e0d1ca2.29a28"
            ],
            [
                "aa4f92b2.0c5c3"
            ],
            [
                "f7678041.78cfa"
            ],
            [
                "52929fb1.77dda"
            ],
            [
                "fdc7bab0.682798"
            ],
            [
                "27e3ef12.45571"
            ],
            [
                "486f8032.e9df4"
            ]
        ],
        "outputLabels": [
            "sensor 1,a",
            "sensor 2,b",
            "sensor 3,c",
            "sensor 4,d",
            "sensor 5,e",
            "sensor 6,f",
            "sensor 7,g",
            "sensor 8,h",
            "sensor 9,i"
        ]
    },
    {
        "id": "76d77b12.d85874",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1400,
        "y": 100,
        "wires": [
            [
                "e4c888ef.9ac1c8"
            ]
        ]
    },
    {
        "id": "159e6cf.0807693",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1400,
        "y": 140,
        "wires": [
            [
                "6914a374.3ac90c"
            ]
        ]
    },
    {
        "id": "e4c888ef.9ac1c8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 100,
        "wires": [
            [
                "c98d586a.69a248"
            ]
        ]
    },
    {
        "id": "c98d586a.69a248",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_1}},{{flow.g_value_1}},0)",
        "output": "str",
        "x": 1820,
        "y": 140,
        "wires": [
            [
                "28efe1d.f11891e"
            ]
        ]
    },
    {
        "id": "6914a374.3ac90c",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 140,
        "wires": [
            [
                "c98d586a.69a248"
            ]
        ]
    },
    {
        "id": "28efe1d.f11891e",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 140,
        "wires": [
            [
                "5bd13785.e19178"
            ]
        ]
    },
    {
        "id": "a6c9cc94.8468d",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1400,
        "y": 220,
        "wires": [
            [
                "efa235ac.d18c48"
            ]
        ]
    },
    {
        "id": "9f0b72ba.2ba9c",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1400,
        "y": 260,
        "wires": [
            [
                "3b08bdca.7f1142"
            ]
        ]
    },
    {
        "id": "efa235ac.d18c48",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 220,
        "wires": [
            [
                "3077ea82.8cb406"
            ]
        ]
    },
    {
        "id": "3077ea82.8cb406",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_2}},{{flow.g_value_2}},0)",
        "output": "str",
        "x": 1820,
        "y": 260,
        "wires": [
            [
                "fa2fa3e2.a7b29"
            ]
        ]
    },
    {
        "id": "3b08bdca.7f1142",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 260,
        "wires": [
            [
                "3077ea82.8cb406"
            ]
        ]
    },
    {
        "id": "fa2fa3e2.a7b29",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 260,
        "wires": [
            [
                "f2348297.312d5"
            ]
        ]
    },
    {
        "id": "76b6ad35.3577c4",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1400,
        "y": 340,
        "wires": [
            [
                "6c0be974.7191b8"
            ]
        ]
    },
    {
        "id": "a353e04f.ffc78",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1400,
        "y": 380,
        "wires": [
            [
                "5b5b31e6.72a1a"
            ]
        ]
    },
    {
        "id": "6c0be974.7191b8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 340,
        "wires": [
            [
                "c5b67216.1682c"
            ]
        ]
    },
    {
        "id": "c5b67216.1682c",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_3}},{{flow.g_value_3}},0)",
        "output": "str",
        "x": 1820,
        "y": 380,
        "wires": [
            [
                "b9d1ec4e.bfefc"
            ]
        ]
    },
    {
        "id": "5b5b31e6.72a1a",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 380,
        "wires": [
            [
                "c5b67216.1682c"
            ]
        ]
    },
    {
        "id": "b9d1ec4e.bfefc",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 380,
        "wires": [
            [
                "dddbfdf.a0487"
            ]
        ]
    },
    {
        "id": "d7bce8c7.8a05b8",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1400,
        "y": 460,
        "wires": [
            [
                "88aae6e.6e0d218"
            ]
        ]
    },
    {
        "id": "e98d1267.eec3e",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1400,
        "y": 500,
        "wires": [
            [
                "6d415d02.7ff9a4"
            ]
        ]
    },
    {
        "id": "88aae6e.6e0d218",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 460,
        "wires": [
            [
                "e53d1808.906be8"
            ]
        ]
    },
    {
        "id": "e53d1808.906be8",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_4}},{{flow.g_value_4}},0)",
        "output": "str",
        "x": 1820,
        "y": 500,
        "wires": [
            [
                "d5a3e8bb.ea2f38"
            ]
        ]
    },
    {
        "id": "6d415d02.7ff9a4",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 500,
        "wires": [
            [
                "e53d1808.906be8"
            ]
        ]
    },
    {
        "id": "d5a3e8bb.ea2f38",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 500,
        "wires": [
            [
                "d389f6c.a7b4808"
            ]
        ]
    },
    {
        "id": "b91830c3.4d3e8",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1400,
        "y": 580,
        "wires": [
            [
                "f784e610.4640e8"
            ]
        ]
    },
    {
        "id": "46824be5.fefa94",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1400,
        "y": 620,
        "wires": [
            [
                "6243f5a2.57960c"
            ]
        ]
    },
    {
        "id": "f784e610.4640e8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_5",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 580,
        "wires": [
            [
                "451ba7e8.f58998"
            ]
        ]
    },
    {
        "id": "451ba7e8.f58998",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_5}},{{flow.g_value_5}},0)",
        "output": "str",
        "x": 1820,
        "y": 620,
        "wires": [
            [
                "f7e33fa1.7f197"
            ]
        ]
    },
    {
        "id": "6243f5a2.57960c",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_5",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 620,
        "wires": [
            [
                "451ba7e8.f58998"
            ]
        ]
    },
    {
        "id": "f7e33fa1.7f197",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 620,
        "wires": [
            [
                "1a670f20.74b8d1"
            ]
        ]
    },
    {
        "id": "be6008a8.0a3da8",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1400,
        "y": 700,
        "wires": [
            [
                "337068e1.507238"
            ]
        ]
    },
    {
        "id": "fd51b0b2.b0789",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1400,
        "y": 740,
        "wires": [
            [
                "62724294.56a1cc"
            ]
        ]
    },
    {
        "id": "337068e1.507238",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_6",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 700,
        "wires": [
            [
                "18deb5ae.e5370a"
            ]
        ]
    },
    {
        "id": "62724294.56a1cc",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_6",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 740,
        "wires": [
            [
                "18deb5ae.e5370a"
            ]
        ]
    },
    {
        "id": "a3f5ee2.1ce9c1",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 740,
        "wires": [
            [
                "32a2c8b6.ad1ef8"
            ]
        ]
    },
    {
        "id": "f57dd729.469d78",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1400,
        "y": 820,
        "wires": [
            [
                "1f1ea6ad.ef97f9"
            ]
        ]
    },
    {
        "id": "bce40e35.f46dc",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1400,
        "y": 860,
        "wires": [
            [
                "1085df8.3cf8e21"
            ]
        ]
    },
    {
        "id": "1f1ea6ad.ef97f9",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_7",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 820,
        "wires": [
            [
                "e589868d.017648"
            ]
        ]
    },
    {
        "id": "e589868d.017648",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_7}},{{flow.g_value_7}},0)",
        "output": "str",
        "x": 1820,
        "y": 860,
        "wires": [
            [
                "6ae7931d.618cac"
            ]
        ]
    },
    {
        "id": "1085df8.3cf8e21",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_7",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 860,
        "wires": [
            [
                "e589868d.017648"
            ]
        ]
    },
    {
        "id": "6ae7931d.618cac",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 860,
        "wires": [
            [
                "4e76324b.e51c5c"
            ]
        ]
    },
    {
        "id": "a4010501.7d6b08",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1400,
        "y": 940,
        "wires": [
            [
                "2867b559.270c0a"
            ]
        ]
    },
    {
        "id": "20414b95.4bd244",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1400,
        "y": 980,
        "wires": [
            [
                "a5c60e0d.cc818"
            ]
        ]
    },
    {
        "id": "2867b559.270c0a",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_8",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 940,
        "wires": [
            [
                "8b18c906.f14ed8"
            ]
        ]
    },
    {
        "id": "8b18c906.f14ed8",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_8}},{{flow.g_value_8}},0)",
        "output": "str",
        "x": 1820,
        "y": 980,
        "wires": [
            [
                "44e792d5.2d9d9c"
            ]
        ]
    },
    {
        "id": "a5c60e0d.cc818",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_8",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 980,
        "wires": [
            [
                "8b18c906.f14ed8"
            ]
        ]
    },
    {
        "id": "44e792d5.2d9d9c",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 980,
        "wires": [
            [
                "525a6967.a4b008"
            ]
        ]
    },
    {
        "id": "3264844a.8084dc",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G value",
        "x": 1400,
        "y": 1060,
        "wires": [
            [
                "da188207.1d9b2"
            ]
        ]
    },
    {
        "id": "eb07b316.87d4a",
        "type": "range",
        "z": "772b4e64.18e6e",
        "minin": "0",
        "maxin": "500",
        "minout": "255",
        "maxout": "0",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R value",
        "x": 1400,
        "y": 1100,
        "wires": [
            [
                "3661c9cf.c22c96"
            ]
        ]
    },
    {
        "id": "da188207.1d9b2",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "g_value_9",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1060,
        "wires": [
            [
                "b056475.29964b8"
            ]
        ]
    },
    {
        "id": "b056475.29964b8",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_9}},{{flow.g_value_9}},0)",
        "output": "str",
        "x": 1820,
        "y": 1100,
        "wires": [
            [
                "f47e0192.40e72"
            ]
        ]
    },
    {
        "id": "3661c9cf.c22c96",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "r_value_9",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1100,
        "wires": [
            [
                "b056475.29964b8"
            ]
        ]
    },
    {
        "id": "f47e0192.40e72",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 1100,
        "wires": [
            [
                "7f66877b.72f598"
            ]
        ]
    },
    {
        "id": "18deb5ae.e5370a",
        "type": "template",
        "z": "772b4e64.18e6e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rgb({{flow.r_value_6}},{{flow.g_value_6}},0)",
        "output": "str",
        "x": 1820,
        "y": 740,
        "wires": [
            [
                "a3f5ee2.1ce9c1"
            ]
        ]
    },
    {
        "id": "db7b1a3d.3a2868",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 1",
        "info": "",
        "x": 1180,
        "y": 80,
        "wires": []
    },
    {
        "id": "1169d83d.4d97a8",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 2",
        "info": "",
        "x": 1400,
        "y": 180,
        "wires": []
    },
    {
        "id": "65c26d66.785f54",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 3",
        "info": "",
        "x": 1400,
        "y": 300,
        "wires": []
    },
    {
        "id": "30772f28.b343d",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 4",
        "info": "",
        "x": 1400,
        "y": 420,
        "wires": []
    },
    {
        "id": "cc4f6534.27cbd8",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 5",
        "info": "",
        "x": 1400,
        "y": 540,
        "wires": []
    },
    {
        "id": "c2b8867d.3eabf8",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 6",
        "info": "",
        "x": 1400,
        "y": 660,
        "wires": []
    },
    {
        "id": "2e674a41.f2f536",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 7",
        "info": "",
        "x": 1400,
        "y": 780,
        "wires": []
    },
    {
        "id": "692c990c.7d1a08",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 8",
        "info": "",
        "x": 1400,
        "y": 900,
        "wires": []
    },
    {
        "id": "d7b1f86d.e652d8",
        "type": "comment",
        "z": "772b4e64.18e6e",
        "name": "sensor 9",
        "info": "",
        "x": 1400,
        "y": 1020,
        "wires": []
    },
    {
        "id": "691dbee2.8ba5a",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "a.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 120,
        "wires": [
            [
                "76d77b12.d85874",
                "159e6cf.0807693"
            ]
        ]
    },
    {
        "id": "6c99a29b.22ce6c",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 240,
        "wires": [
            [
                "a6c9cc94.8468d",
                "9f0b72ba.2ba9c"
            ]
        ]
    },
    {
        "id": "9e0d1ca2.29a28",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "c.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 360,
        "wires": [
            [
                "76b6ad35.3577c4",
                "a353e04f.ffc78"
            ]
        ]
    },
    {
        "id": "aa4f92b2.0c5c3",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "d.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 480,
        "wires": [
            [
                "d7bce8c7.8a05b8",
                "e98d1267.eec3e"
            ]
        ]
    },
    {
        "id": "f7678041.78cfa",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 5",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "e.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 600,
        "wires": [
            [
                "b91830c3.4d3e8",
                "46824be5.fefa94"
            ]
        ]
    },
    {
        "id": "52929fb1.77dda",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 6",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "f.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_6",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 720,
        "wires": [
            [
                "be6008a8.0a3da8",
                "fd51b0b2.b0789"
            ]
        ]
    },
    {
        "id": "fdc7bab0.682798",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 7",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "g.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_7",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 840,
        "wires": [
            [
                "f57dd729.469d78",
                "bce40e35.f46dc"
            ]
        ]
    },
    {
        "id": "27e3ef12.45571",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 8",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "h.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_8",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 960,
        "wires": [
            [
                "a4010501.7d6b08",
                "20414b95.4bd244"
            ]
        ]
    },
    {
        "id": "486f8032.e9df4",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "sensor 9",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "i.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_9",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1080,
        "wires": [
            [
                "3264844a.8084dc",
                "eb07b316.87d4a"
            ]
        ]
    },
    {
        "id": "780ba7df.cdcab8",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "a.",
                "fromt": "str",
                "to": "b.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "c.",
                "fromt": "str",
                "to": "d.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "e.",
                "fromt": "str",
                "to": "f.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "h.",
                "fromt": "str",
                "to": "i.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 420,
        "wires": [
            [
                "2bbb4ab1.8c3416"
            ]
        ]
    },
    {
        "id": "ffc9a5b6.777f38",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b.",
                "fromt": "str",
                "to": "a.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "d.",
                "fromt": "str",
                "to": "c.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "f.",
                "fromt": "str",
                "to": "e.",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "i.",
                "fromt": "str",
                "to": "h.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 460,
        "wires": [
            [
                "2bbb4ab1.8c3416"
            ]
        ]
    },
    {
        "id": "20089778.b355c8",
        "type": "link in",
        "z": "772b4e64.18e6e",
        "name": "sensors input",
        "links": [
            "14604c5.63664b4",
            "2a6a1d2d.cf9e12",
            "11272f39.b866e1"
        ],
        "x": 175,
        "y": 560,
        "wires": [
            [
                "c955f148.352cb",
                "dbf643f6.8ba"
            ]
        ]
    },
    {
        "id": "2a6a1d2d.cf9e12",
        "type": "link out",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "links": [
            "20089778.b355c8",
            "491344a2.8d453c"
        ],
        "x": 435,
        "y": 380,
        "wires": []
    },
    {
        "id": "e802718.821529",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "a.10",
        "payloadType": "str",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "e201f932.afe2d8",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "b.450",
        "payloadType": "str",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "3b5f2375.c6da7c",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "c.100",
        "payloadType": "str",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "bb05b4.caab9a5",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "d.150",
        "payloadType": "str",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "a637b93c.00cc58",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "e.200",
        "payloadType": "str",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "9976d080.5b086",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "f.250",
        "payloadType": "str",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "c4cea1f7.5adfc",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g.300",
        "payloadType": "str",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "182f3a8c.169c95",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "h.350",
        "payloadType": "str",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "a1c05efb.1f0fe",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "i.400",
        "payloadType": "str",
        "x": 250,
        "y": 700,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "b687f285.31795",
        "type": "link out",
        "z": "772b4e64.18e6e",
        "name": "",
        "links": [
            "491344a2.8d453c",
            "14323014.f36b8"
        ],
        "x": 565,
        "y": 360,
        "wires": []
    },
    {
        "id": "b66416e4.9e3488",
        "type": "switch",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "a.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "b.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "c.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "d.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "e.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "f.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "g.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "h.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "i.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "cc9057d2.900d98"
            ],
            [
                "1efff684.4c27e9"
            ],
            [
                "220833e1.adeecc"
            ],
            [
                "aa5e712d.a8f6"
            ],
            [
                "a391ea57.ec4748"
            ],
            [
                "9ba68925.368698"
            ],
            [
                "c950c7e3.062088"
            ],
            [
                "1ac27291.4d67bd"
            ],
            [
                "d2f09002.f1a8e"
            ]
        ],
        "outputLabels": [
            "sensor 1,a",
            "sensor 2,b",
            "sensor 3,c",
            "sensor 4,d",
            "sensor 5,e",
            "sensor 6,f",
            "sensor 7,g",
            "sensor 8,h",
            "sensor 9,i"
        ]
    },
    {
        "id": "cc9057d2.900d98",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "name": "sensor 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "a.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 80,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "1efff684.4c27e9",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "name": "sensor 2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "220833e1.adeecc",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "name": "sensor 3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "c.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "aa5e712d.a8f6",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "name": "sensor 4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "d.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "a391ea57.ec4748",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "name": "sensor 5",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "e.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "9ba68925.368698",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "name": "sensor 6",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "f.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "c950c7e3.062088",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "name": "sensor 7",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "g.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 320,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "1ac27291.4d67bd",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "name": "sensor 8",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "h.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "d2f09002.f1a8e",
        "type": "change",
        "z": "dc7f38ca.1f1628",
        "name": "sensor 9",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "i.",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 400,
        "wires": [
            [
                "332fc34a.2a909c"
            ]
        ]
    },
    {
        "id": "332fc34a.2a909c",
        "type": "join",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "9",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "46d3275.7ab72d8",
                "333a0831.528298"
            ]
        ]
    },
    {
        "id": "14323014.f36b8",
        "type": "link in",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "links": [
            "b687f285.31795"
        ],
        "x": 175,
        "y": 220,
        "wires": [
            [
                "b66416e4.9e3488"
            ]
        ]
    },
    {
        "id": "d94fff7a.517ba",
        "type": "debug",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 260,
        "wires": []
    },
    {
        "id": "86a8cf72.f6d03",
        "type": "inject",
        "z": "e6bd1a7b.e18128",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g.0",
        "payloadType": "str",
        "x": 410,
        "y": 620,
        "wires": [
            [
                "2a6a1d2d.cf9e12"
            ]
        ]
    },
    {
        "id": "14604c5.63664b4",
        "type": "link out",
        "z": "cc53778b.362758",
        "name": "",
        "links": [
            "20089778.b355c8"
        ],
        "x": 475,
        "y": 100,
        "wires": []
    },
    {
        "id": "1ec8e052.c9ce7",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g.0",
        "payloadType": "str",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "14604c5.63664b4"
            ]
        ]
    },
    {
        "id": "da0dff8b.2c1bb",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "g.300",
        "payloadType": "str",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "14604c5.63664b4"
            ]
        ]
    },
    {
        "id": "c5526722.7cd1f8",
        "type": "range",
        "z": "cc53778b.362758",
        "minin": "50",
        "maxin": "500",
        "minout": "0",
        "maxout": "1",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "c4e6c040.1f7df",
                "e514ab9f.3569c8"
            ]
        ]
    },
    {
        "id": "46ccffa7.79f4c",
        "type": "inject",
        "z": "cc53778b.362758",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "f50d22ed.32ea4"
            ]
        ]
    },
    {
        "id": "f50d22ed.32ea4",
        "type": "change",
        "z": "cc53778b.362758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sensor_7",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "c5526722.7cd1f8"
            ]
        ]
    },
    {
        "id": "ec727d8f.0a09",
        "type": "change",
        "z": "cc53778b.362758",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 300,
        "wires": [
            [
                "50feb283.fbe0ac"
            ]
        ]
    },
    {
        "id": "a926d757.1a0d38",
        "type": "change",
        "z": "cc53778b.362758",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "countdown_30_b",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ff7549f5.4a7a18",
        "type": "change",
        "z": "cc53778b.362758",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "close",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "open",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 420,
        "wires": [
            [
                "c4e6c040.1f7df"
            ]
        ]
    },
    {
        "id": "baff13cf.b8fdc",
        "type": "change",
        "z": "cc53778b.362758",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "countdown_5_b",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2b8b66f1.da755a",
        "type": "change",
        "z": "cc53778b.362758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 560,
        "wires": [
            [
                "c4e6c040.1f7df"
            ]
        ]
    },
    {
        "id": "e514ab9f.3569c8",
        "type": "switch",
        "z": "cc53778b.362758",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "57aa6b12.08bb34"
            ]
        ]
    },
    {
        "id": "57aa6b12.08bb34",
        "type": "change",
        "z": "cc53778b.362758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 480,
        "wires": [
            [
                "280ca3fe.03052c"
            ]
        ]
    },
    {
        "id": "7357e352.ad7acc",
        "type": "debug",
        "z": "cc53778b.362758",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 720,
        "wires": []
    },
    {
        "id": "974d8a9b.1f77d8",
        "type": "link out",
        "z": "cc53778b.362758",
        "name": "timer 5 min",
        "links": [
            "35be3bd2.e0a234",
            "425c89d0.8d4cf8",
            "8f40604a.bdf5a"
        ],
        "x": 1195,
        "y": 600,
        "wires": []
    },
    {
        "id": "e8e4ba90.f78158",
        "type": "comment",
        "z": "cc53778b.362758",
        "name": "countdown",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "35be3bd2.e0a234",
        "type": "link in",
        "z": "772b4e64.18e6e",
        "name": "",
        "links": [
            "974d8a9b.1f77d8"
        ],
        "x": 165,
        "y": 720,
        "wires": [
            [
                "22cf8ee8.8b2802",
                "f681acc2.88587"
            ]
        ]
    },
    {
        "id": "f681acc2.88587",
        "type": "debug",
        "z": "772b4e64.18e6e",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 390,
        "y": 800,
        "wires": []
    },
    {
        "id": "333a0831.528298",
        "type": "debug",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "3dd38ac5.919ba6",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "[s] to [hh:mm:ss]",
        "func": "// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar time = (new Date(msg.payload * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.payload = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 960,
        "wires": [
            [
                "e3407524.0c5c08"
            ]
        ]
    },
    {
        "id": "289a791b.863206",
        "type": "link out",
        "z": "cc53778b.362758",
        "name": "timer 5 min time",
        "links": [
            "73e0e69f.144f68"
        ],
        "x": 1195,
        "y": 640,
        "wires": []
    },
    {
        "id": "73e0e69f.144f68",
        "type": "link in",
        "z": "772b4e64.18e6e",
        "name": "",
        "links": [
            "289a791b.863206"
        ],
        "x": 175,
        "y": 960,
        "wires": [
            [
                "3dd38ac5.919ba6"
            ]
        ]
    },
    {
        "id": "10ff4972.6bf057",
        "type": "function",
        "z": "772b4e64.18e6e",
        "name": "[s] to [hh:mm:ss]",
        "func": "// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar time = (new Date(msg.payload * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.payload = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1020,
        "wires": [
            [
                "d7ffc29.680874"
            ]
        ]
    },
    {
        "id": "fa14cea1.3a61d",
        "type": "link in",
        "z": "772b4e64.18e6e",
        "name": "",
        "links": [
            "7dfa898d.e9e458"
        ],
        "x": 175,
        "y": 1020,
        "wires": [
            [
                "10ff4972.6bf057"
            ]
        ]
    },
    {
        "id": "7dfa898d.e9e458",
        "type": "link out",
        "z": "cc53778b.362758",
        "name": "timer 30 min time",
        "links": [
            "fa14cea1.3a61d"
        ],
        "x": 1145,
        "y": 380,
        "wires": []
    },
    {
        "id": "17775476.8ca48c",
        "type": "rbe",
        "z": "cc53778b.362758",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 960,
        "y": 440,
        "wires": [
            [
                "280ca3fe.03052c"
            ]
        ]
    },
    {
        "id": "4f97a66b.8c6e98",
        "type": "range",
        "z": "af13bad2.757ad8",
        "minin": "0",
        "maxin": "90",
        "minout": "0",
        "maxout": "5400",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1140,
        "y": 760,
        "wires": [
            [
                "5b3f90ca.1dff7"
            ]
        ]
    },
    {
        "id": "de3a9912.998a78",
        "type": "range",
        "z": "af13bad2.757ad8",
        "minin": "0",
        "maxin": "90",
        "minout": "0",
        "maxout": "900",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1140,
        "y": 820,
        "wires": [
            [
                "2cc38880.b603c8"
            ]
        ]
    },
    {
        "id": "5b3f90ca.1dff7",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 760,
        "wires": [
            [
                "f900f509.e7d088"
            ]
        ]
    },
    {
        "id": "2cc38880.b603c8",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 820,
        "wires": [
            [
                "dcbb2813.13c448"
            ]
        ]
    },
    {
        "id": "f900f509.e7d088",
        "type": "link out",
        "z": "af13bad2.757ad8",
        "name": "",
        "links": [
            "f24f38bd.3b58d8"
        ],
        "x": 1475,
        "y": 760,
        "wires": []
    },
    {
        "id": "dcbb2813.13c448",
        "type": "link out",
        "z": "af13bad2.757ad8",
        "name": "",
        "links": [
            "8688dada.8ecc38"
        ],
        "x": 1475,
        "y": 820,
        "wires": []
    },
    {
        "id": "f24f38bd.3b58d8",
        "type": "link in",
        "z": "cc53778b.362758",
        "name": "change value vo timer 30",
        "links": [
            "f900f509.e7d088"
        ],
        "x": 815,
        "y": 220,
        "wires": [
            [
                "50feb283.fbe0ac"
            ]
        ]
    },
    {
        "id": "8688dada.8ecc38",
        "type": "link in",
        "z": "cc53778b.362758",
        "name": "change value vo timer 5",
        "links": [
            "dcbb2813.13c448"
        ],
        "x": 795,
        "y": 600,
        "wires": [
            [
                "280ca3fe.03052c"
            ]
        ]
    },
    {
        "id": "3f0cbe6.b53b542",
        "type": "http request",
        "z": "cc53778b.362758",
        "name": "Download m3",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/alert.mp3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 820,
        "y": 960,
        "wires": [
            [
                "16a7600d.edf47"
            ]
        ]
    },
    {
        "id": "425c89d0.8d4cf8",
        "type": "link in",
        "z": "cc53778b.362758",
        "name": "",
        "links": [
            "974d8a9b.1f77d8"
        ],
        "x": 75,
        "y": 960,
        "wires": [
            [
                "e89d5d4b.9e811"
            ]
        ]
    },
    {
        "id": "e3407524.0c5c08",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "23:59:59",
                "fromt": "str",
                "to": "00:00:00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 960,
        "wires": [
            [
                "895ce5fb.28ce78"
            ]
        ]
    },
    {
        "id": "d7ffc29.680874",
        "type": "change",
        "z": "772b4e64.18e6e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "23:59:59",
                "fromt": "str",
                "to": "00:00:00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "7241ddc8.4ff374"
            ]
        ]
    },
    {
        "id": "dbcded0e.1cd3b",
        "type": "rbe",
        "z": "cc53778b.362758",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 430,
        "y": 940,
        "wires": [
            [
                "3f0cbe6.b53b542"
            ]
        ]
    },
    {
        "id": "bd4aa230.c7a14",
        "type": "ui_switch",
        "z": "772b4e64.18e6e",
        "name": "",
        "label": "pogled",
        "tooltip": "",
        "group": "8d305fa8.31707",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "style": "",
        "onvalue": "toggle",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "toggle",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "c955f148.352cb",
                "dbf643f6.8ba"
            ]
        ]
    },
    {
        "id": "febb07.0de8b4f8",
        "type": "ui_switch",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "light mode",
        "tooltip": "",
        "group": "8d305fa8.31707",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "chair_white.png",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "chair_dark.png",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "15008359.1075bd"
            ]
        ]
    },
    {
        "id": "5bd13785.e19178",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2250,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f2348297.312d5",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "2",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2250,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "dddbfdf.a0487",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 13,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "3",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2250,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d389f6c.a7b4808",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "4",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2250,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1a670f20.74b8d1",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 18,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "5",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2250,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "32a2c8b6.ad1ef8",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 19,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "6",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2250,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "4e76324b.e51c5c",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 22,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "7",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2250,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "525a6967.a4b008",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 24,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "8",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2250,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "7f66877b.72f598",
        "type": "ui_button",
        "z": "772b4e64.18e6e",
        "name": "",
        "group": "a4a5657b.ad6998",
        "order": 25,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "9",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 2250,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "17e913d1.43c79c",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Default time for sitting",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "30",
        "payloadType": "num",
        "topic": "",
        "x": 620,
        "y": 800,
        "wires": [
            [
                "830fa7fc.f43558"
            ]
        ]
    },
    {
        "id": "d71fd2c0.52775",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Extended time for sitting",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "60",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 630,
        "y": 760,
        "wires": [
            [
                "830fa7fc.f43558"
            ]
        ]
    },
    {
        "id": "830fa7fc.f43558",
        "type": "ui_slider",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "Manual time for sitting",
        "tooltip": "",
        "group": "a61f5046.b796f",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "90",
        "step": "2",
        "x": 900,
        "y": 760,
        "wires": [
            [
                "4f97a66b.8c6e98",
                "de3a9912.998a78"
            ]
        ]
    },
    {
        "id": "895ce5fb.28ce78",
        "type": "ui_text",
        "z": "772b4e64.18e6e",
        "group": "49deb1f5.12e01",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rest time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 960,
        "wires": []
    },
    {
        "id": "7241ddc8.4ff374",
        "type": "ui_text",
        "z": "772b4e64.18e6e",
        "group": "49deb1f5.12e01",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Working / sitting time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3664af40.09d38",
        "type": "ui_chart",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "group": "8a312ad2.ae3c18",
        "order": 2,
        "width": 13,
        "height": 12,
        "label": "all sensors",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1170,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "16a7600d.edf47",
        "type": "ui_audio",
        "z": "cc53778b.362758",
        "name": "",
        "group": "a4a5657b.ad6998",
        "voice": "0",
        "always": true,
        "x": 1000,
        "y": 960,
        "wires": []
    },
    {
        "id": "66cdfb8d.5e06a4",
        "type": "ui_ui_control",
        "z": "af13bad2.757ad8",
        "name": "",
        "events": "connect",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "febb07.0de8b4f8"
            ]
        ]
    },
    {
        "id": "15008359.1075bd",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "group": "a4a5657b.ad6998",
        "name": "Background image template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body {\n        background-image: url(\"/{{msg.payload}}\");\n        background-repeat: no-repeat;\n        background-position: 100% 100%;\n        background-size: 100%;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9b860027.7803a",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "group": "a4a5657b.ad6998",
        "name": "transperent group dashboard",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "\n<style>\n    #Chair_dashboard_cards{\n        background-color:#12345600;\n    }\n    #Chair_dashboard{\n        background-color:#12345600;\n        border:none;\n    }\n</style>\n<script>\nfunction updateContainerStyle (el) {\n\tel = el.parentElement\n\tif (el && el.classList.contains('nr-dashboard-template')) {\n\t    // uncomment next line to make the parent container transparent\n\t\tel.style.backgroundColor = \"#12345600\"\n\t}\n}\n\nupdateContainerStyle(document.getElementById(\"div-in-template\"))\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 520,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d0587aeb.c3ed38",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "d": true,
        "group": "8a312ad2.ae3c18",
        "name": "Background image template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body {\n        background-image: url(\"/white.png\");\n        background-repeat: no-repeat;\n        background-position: 100% 100%;\n        background-size: 100%;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2b628fd3.7e1df",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "d": true,
        "group": "8d305fa8.31707",
        "name": "Background image template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body {\n        background-image: url(\"/white.png\");\n        background-repeat: no-repeat;\n        background-position: 100% 100%;\n        background-size: 100%;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 520,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a54856c0.0df898",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "d": true,
        "group": "a4a5657b.ad6998",
        "name": "transperent group status",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "\n<style>\n    #Chair_status_cards{\n        background-color:#12345600;\n    }\n    #Chair_status{\n        background-color:#12345600;\n        border:none;\n    }\n</style>\n<script>\nfunction updateContainerStyle (el) {\n\tel = el.parentElement\n\tif (el && el.classList.contains('nr-dashboard-template')) {\n\t    // uncomment next line to make the parent container transparent\n\t\tel.style.backgroundColor = \"#12345600\"\n\t}\n}\n\nupdateContainerStyle(document.getElementById(\"div-in-template\"))\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 510,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "292f39f9.1baf86",
        "type": "ui_template",
        "z": "af13bad2.757ad8",
        "group": "a4a5657b.ad6998",
        "name": "transperent group spacer",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "\n<style>\n    #Chair_spacer_cards{\n        background-color:#12345600;\n    }\n    #Chair_spacer{\n        background-color:#12345600;\n        border:none;\n    }\n</style>\n<script>\nfunction updateContainerStyle (el) {\n\tel = el.parentElement\n\tif (el && el.classList.contains('nr-dashboard-template')) {\n\t    // uncomment next line to make the parent container transparent\n\t\tel.style.backgroundColor = \"#12345600\"\n\t}\n}\n\nupdateContainerStyle(document.getElementById(\"div-in-template\"))\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c955f148.352cb",
        "type": "gate",
        "z": "772b4e64.18e6e",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "2bbb4ab1.8c3416",
                "b687f285.31795"
            ]
        ]
    },
    {
        "id": "dbf643f6.8ba",
        "type": "gate",
        "z": "772b4e64.18e6e",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "780ba7df.cdcab8",
                "ffc9a5b6.777f38"
            ]
        ]
    },
    {
        "id": "c4e6c040.1f7df",
        "type": "gate",
        "z": "cc53778b.362758",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "ec727d8f.0a09"
            ]
        ]
    },
    {
        "id": "46d3275.7ab72d8",
        "type": "calculator",
        "z": "dc7f38ca.1f1628",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "avg",
        "constant": "9",
        "round": false,
        "decimals": 0,
        "x": 960,
        "y": 240,
        "wires": [
            [
                "d94fff7a.517ba",
                "3664af40.09d38"
            ]
        ]
    },
    {
        "id": "22cf8ee8.8b2802",
        "type": "ui_led",
        "z": "772b4e64.18e6e",
        "order": 4,
        "group": "49deb1f5.12e01",
        "width": 0,
        "height": 0,
        "label": "Indicator",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "open",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "close",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 370,
        "y": 720,
        "wires": []
    },
    {
        "id": "50feb283.fbe0ac",
        "type": "countdown",
        "z": "cc53778b.362758",
        "name": "",
        "topic": "",
        "payloadTimerStart": "false",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "true",
        "payloadTimerStopType": "bool",
        "timer": "1800",
        "resetWhileRunning": false,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": false,
        "minuteCounter": false,
        "x": 990,
        "y": 300,
        "wires": [
            [
                "a926d757.1a0d38",
                "ff7549f5.4a7a18",
                "17775476.8ca48c"
            ],
            [
                "7dfa898d.e9e458"
            ]
        ]
    },
    {
        "id": "280ca3fe.03052c",
        "type": "countdown",
        "z": "cc53778b.362758",
        "name": "",
        "topic": "",
        "payloadTimerStart": "close",
        "payloadTimerStartType": "str",
        "payloadTimerStop": "open",
        "payloadTimerStopType": "str",
        "timer": "300",
        "resetWhileRunning": false,
        "setTimeToNewWhileRunning": false,
        "startCountdownOnControlMessage": false,
        "minuteCounter": false,
        "x": 970,
        "y": 520,
        "wires": [
            [
                "baff13cf.b8fdc",
                "2b8b66f1.da755a",
                "7357e352.ad7acc",
                "974d8a9b.1f77d8"
            ],
            [
                "289a791b.863206"
            ]
        ]
    },
    {
        "id": "fc2b2af2.a22c28",
        "type": "switch",
        "z": "cc53778b.362758",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "dbcded0e.1cd3b"
            ]
        ]
    },
    {
        "id": "9c83173a.964bb8",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart Node Red",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 1000,
        "wires": [
            [
                "845959e.0f5d7a8"
            ]
        ]
    },
    {
        "id": "845959e.0f5d7a8",
        "type": "exec",
        "z": "af13bad2.757ad8",
        "command": "node-red-restart",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 380,
        "y": 1000,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "983c787e.0d00d8",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Power Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "bd706339.2ff22"
            ]
        ]
    },
    {
        "id": "bd706339.2ff22",
        "type": "exec",
        "z": "af13bad2.757ad8",
        "command": "sudo poweroff",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 380,
        "y": 1120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "87c41945.885cf8",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "f43446c.df038b8"
            ]
        ]
    },
    {
        "id": "f43446c.df038b8",
        "type": "exec",
        "z": "af13bad2.757ad8",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 1180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "899da717.80eeb8",
        "type": "ui_button",
        "z": "af13bad2.757ad8",
        "name": "",
        "group": "a61f5046.b796f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Node Red",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 180,
        "y": 1060,
        "wires": [
            [
                "d89cd4cc.ff7b48"
            ]
        ]
    },
    {
        "id": "d89cd4cc.ff7b48",
        "type": "exec",
        "z": "af13bad2.757ad8",
        "command": "node-red-stop",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 380,
        "y": 1060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "10609ae1.01dfd5",
        "type": "ui_switch",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "Developer options",
        "tooltip": "",
        "group": "a61f5046.b796f",
        "order": 26,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 170,
        "y": 1260,
        "wires": [
            [
                "782f6c7d.223ce4"
            ]
        ]
    },
    {
        "id": "782f6c7d.223ce4",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "d9f8a1b5.57ca8"
            ]
        ]
    },
    {
        "id": "d9f8a1b5.57ca8",
        "type": "ui_text_input",
        "z": "af13bad2.757ad8",
        "name": "",
        "label": "Force sensor value",
        "tooltip": "",
        "group": "49deb1f5.12e01",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 600,
        "y": 1260,
        "wires": [
            [
                "11272f39.b866e1"
            ]
        ]
    },
    {
        "id": "11272f39.b866e1",
        "type": "link out",
        "z": "af13bad2.757ad8",
        "name": "",
        "links": [
            "20089778.b355c8"
        ],
        "x": 775,
        "y": 1260,
        "wires": []
    },
    {
        "id": "8f40604a.bdf5a",
        "type": "link in",
        "z": "af13bad2.757ad8",
        "name": "",
        "links": [
            "974d8a9b.1f77d8"
        ],
        "x": 115,
        "y": 760,
        "wires": [
            [
                "346f0bd9.7160f4"
            ]
        ]
    },
    {
        "id": "4ae20187.31d1d",
        "type": "trigger",
        "z": "cc53778b.362758",
        "name": "",
        "op1": "1",
        "op2": "1",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "close",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "3f0cbe6.b53b542"
            ]
        ]
    },
    {
        "id": "e89d5d4b.9e811",
        "type": "rbe",
        "z": "cc53778b.362758",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "4ae20187.31d1d"
            ]
        ]
    },
    {
        "id": "346f0bd9.7160f4",
        "type": "change",
        "z": "af13bad2.757ad8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "enabled",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "enabled",
                "pt": "msg",
                "from": "open",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "enabled",
                "pt": "msg",
                "from": "close",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 760,
        "wires": [
            [
                "830fa7fc.f43558",
                "d71fd2c0.52775",
                "17e913d1.43c79c"
            ]
        ]
    }
]
